@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 45px !important; }

  h2 {
    font-size: 35px !important; }

  h3 {
    font-size: 24px !important; }

  h4 {
    font-size: 18px !important; }

  h5 {
    font-size: 16px !important; }

  h6 {
    font-size: 15px !important; }

  br {
    display: none; }

  .pagging-page ul li a, .pagging-page ul li span {
    width: 25px !important;
    height: 25px !important; }

  .tab-system .nav-tabs {
    justify-content: left !important; }
    .tab-system .nav-tabs .nav-link {
      width: 100% !important; } }

/*# sourceMappingURL=responsive.css.map */
