@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
$border: #E6E6E6;
$bg-gray: #F5F7FB;
$brand: #2A6BBC;
$brand-2: #5AAE37;
$text: #333;
$text-alpha: #858585;
$text-erro: #F71729;
@import 'style-system';

/* ========================  Header 1 (Nav + Hotline + Button Action) ========================= */
header {
	&.header-1 {
		display: inline-block;
		width: 100%;
		z-index: 2;
		position: relative;
		padding: 10px 30px;
		background: #FFFFFF;
		box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.05);
		.content-head-left {
			float: left;
		}

		.logo {
			display: inline-block;

			img {
				height: 40px;
			}
		}

		.menu {
			position: relative;
			z-index: 1;
			display: inline-block;

			nav {
				ul {
					padding: 0;
					display: flex;
					justify-content: left;
					margin-bottom: 0;

					li {
						position: relative;
						list-style: none;
						padding: 10px 0;
						&::before {
							content: "\e64b";
							display: inline-block;
							font-family: 'themify';
							font-size: 12px;
							font-weight: 100;
							position: absolute;
							right: 0;
							top: 15px;
							color: $text-alpha;
						}
						&.no-sub{
							&::before{
								display: none;
							}
						}
						i {
							display: none;
						}

						a {
							padding: 0 20px;
							position: relative;
							font-size: 16px;
							font-weight: 600;
							color: $text;
							display: flex;
							align-items: center;
							&:hover {
								color: $brand;

							}

							&.active {
								color: $text-alpha;
							}
						}

						ul {
							position: absolute;
							width: 220px;
							left: 0;
							top: 50px;
							border-radius: 0 0 2px 2px;
							border-top: 1px solid $brand;
							opacity: 0;
							visibility: hidden;
							background: white;
							box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
							padding: 15px 25px;
							-webkit-transition: all .5s ease;
							transition: all .5s ease;
							-webkit-transform: translateY(10px);
							transform: translateY(10px);
							display: inline-block;

							li {
								padding: 3px 0;
									&::before{
										display: none;
									}
								a {
									display: inline-block;
									width: 100%;
									font-weight: normal;
									transition: all 0.3s linear;
									transition: 0.5s;
									padding: 4px 0;
									font-size: 14px;

									&::before {
										display: none;
									}

									&:hover {
										padding-left: 5px;
										border-radius: 2px;
										color: $text-alpha;
									}
								}

							}

						}

						&:hover {
							ul {
								opacity: 1;
								visibility: initial;
							}
						}

						&.active {
							a {
								color: $text-alpha;
							}

							ul {
								li {
									a {
										color: $text;

										&.active {
											color: $text-alpha  !important;
										}
									}
								}
							}
						}
					}
				}
			}
		}

		.btn-common-line {
			border: 1px solid #2A6BBC;
			border-radius: 28px;
		}
		.menu-mobile{
           .ti-menu{
               display: none;
           }
            .close-menu{
                display: none;
            }
        }

		.search-head {
			display: none;
			left: 0;
			transition: 0.5s;
			box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
			position: fixed;
			top: 70px;
			width: 100%;
			margin: 0;
			z-index: 999;
			input {
				border-radius: 0;
				border: none;
				background-color: white;
				padding: 5px 10px;
				width: 100%;
				padding-left: 15px;
				z-index: 999;
			}
		}
		.close-search{
			display: none;
		}

		.btn-search {
			display: inline-block;
			cursor: pointer;
			position: relative;

			i {
				&:before {
					content: "\e610";
					font-family: 'themify';
					font-size: 18px;
					font-weight: 600;
				}
			}
			&.show-search-mb {
				.ti-search {
					display: none;
				}
				.close-search{
					display: block;
					}
			
					.search-head{
						display: block;
					}
					i {
						&:before {
							content: "\e646";
							font-family: 'themify';
							font-size: 18px;
							font-weight: 600;
						}
					}
			}
		}

		.content-head-right,
		.content-head-right-mb {
			float: right;

			.custom-select {
				margin: 0 20px;
				width: auto;
				display: inline-flex;
				border: 0;

				.select-selected {
					&::after {
						right: 10px;
					}
				}
			}

			.btn-login {
				display: inline-block;
				margin: 0 20px;
				color: $text;
			}

			.btn-action {
				width: inherit;
			}
		}

		.content-head-right-mb {
			display: none;
		}


	}

}

// Ipad doc
@media only screen and (max-width: 950px) {
    header{
        &.header-1 {
			padding: 10px;
            .content-head-right {
                padding-right: 40px;
            }
    
            .btn-search i {
                color: $text-alpha;
            }
    
            .menu-mobile {
                position: absolute;
                top: 20px;
                right: 15px;
                i{
                    font-size: 20px;
                    color: $text-alpha;
                }
                .ti-menu{
                   
                    display: block;
                }
            }
            .menu {
                position: fixed;
                left: 0;
                top: 60px;
                width: 100%;
                height: 100%;
                background: rgb(255, 255, 255);
                border-top: 0;
                padding: 0 !important;
                scroll-behavior: smooth;
                transition: all 0.2s ease-in-out;
				display: none;
                nav {
                    
    
                    ul {
                        display: inline-block !important;
                        width: 100%;
    
                        li {
                            width: 100%;
    
                            a {
                                width: 100%;
                                display: inline-block;
                                font-size: 16px !important;
    
							}
							ul{
								transition: unset;
							}
                        }
                    }
                }
               
            }
            &.show-menu {
                .menu-mobile {
                    .ti-menu{
                        display: none;
                    }
                    .close-menu{
                        display: block;
                    }
                  }
				.menu{
					display: block;
					nav {
						display: inline-block !important;
						width: 100%;
		
						ul li {
							&::before {
								font-size: 16px;
								right: 20px;
								top: 10px;
							}
							&:hover ul {
								position: relative;
								top: 0 !important;
								width: 100% !important;
								box-shadow: none;
								border-radius: 0;
								background: #046e4508;
								transition: unset;
								border-top: 1px solid #2A6BBC;
							}
						}
		
					}
				}
              
    
                .content-head-right-mb {
                    display: none;
                }
            }
    
        }
    }
  
}

// Mobile
@media only screen and (max-width: 767px) {
	header{
        &.header-1 {
            .menu-mobile {
                top: 18px;
            }
    
            .btn-search {
                position: absolute;
                top: 18px;
                right: 60px;
            }
    
            .logo img {
                height: 35px;
            }
    
            .custom-select,
            .btn-login {
                margin: 0 5px !important;
            }
    
            .btn-common-line {
                padding: 0 10px;
                height: 40px;
                font-size: 13px;
            }
    
            .content-head-right {
                .custom-select,
                .btn-login {
                    display: none;
                }
    
                .btn-action {
                    padding-right: 50px;
                }
            }
            &.show-menu {
                .content-head-right {
    
                    .custom-select,
                    .btn-login {
                        display: none;
                    }
                }
    
                .content-head-right-mb {
                    display: block !important;
					float: left;
					padding-left: 15px;
					.select-selected, .select-items {
						padding: 0;
					}
					.custom-select, .btn-login{
						width: 100%;
					}
                }
            }
        }
    }
   
}

/* ======================== End Header 1 (Nav + Hotline + Button Action) ========================= */

/* ========================  Header 2 (Nav + Hotline + Button Action) ========================= */
header {
	&.header-2 {
		display: inline-block;
		width: 100%;
		z-index: 2;
		position: relative;
		padding: 10px 30px;
		background: $brand;
		.menu {
			position: relative;
			z-index: 1;
			display: inline-block;

			nav {
				ul {
					padding: 0;
					display: flex;
					justify-content: left;
					margin-bottom: 0;

					li {
						position: relative;
						list-style: none;
						padding: 10px 0;
						&::before {
							content: "\e64b";
							display: inline-block;
							font-family: 'themify';
							font-size: 12px;
							font-weight: 100;
							position: absolute;
							right: 0;
							top: 15px;
							color: white;
						}
						&.no-sub{
							&::before{
								display: none;
							}
						}
						i {
							display: none;
						}

						a {
							padding: 0 20px;
							position: relative;
							font-size: 16px;
							font-weight: 600;
							color: white;
							display: flex;
							align-items: center;
							&:hover {
								color: white;

							}

							&.active {
								color: $text-alpha;
							}
						}

						ul {
							position: absolute;
							width: 220px;
							left: 0;
							top: 52px;
							border-radius: 0 0 2px 2px;
							opacity: 0;
							visibility: hidden;
							background: white;
							box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
							padding: 15px 25px;
							-webkit-transition: all .5s ease;
							transition: all .5s ease;
							-webkit-transform: translateY(10px);
							transform: translateY(10px);
							display: inline-block;

							li {
								padding: 3px 0;
									&::before{
										display: none;
									}
								a {
									display: inline-block;
									width: 100%;
									font-weight: normal;
									transition: all 0.3s linear;
									transition: 0.5s;
									padding: 4px 0;
									font-size: 14px;
									color: $text;

									&::before {
										display: none;
									}

									&:hover {
										padding-left: 5px;
										border-radius: 2px;
										color: $text-alpha;
									}
								}

							}

						}

						&:hover {
							ul {
								opacity: 1;
								visibility: initial;
							}
						}

						&.active {
							a {
								color: $text-alpha;
							}

							ul {
								li {
									a {
										color: $text;

										&.active {
											color: $text-alpha;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		 
		.logo{
			float: left;
		}
		.content-head-right{
			float: right;
			display: flex;
			align-items: center;
			.btn-action{
				width: fit-content;
				margin-right: 15px;
				border: 1px solid transparent;
				&:hover{
					border: 1px solid white;
					color: white;
				}
			}
		}
		.menu-mobile-2{
			.ti-menu{
				display: none;
			}
			 .close-menu-2{
				 display: none;
			 }
		 }
		
		.search-head {
			display: none;
			left: 0;
			transition: 0.5s;
			box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
			position: fixed;
			top: 65px;
			width: 100%;
			margin: 0;
			input {
				border-radius: 0;
				border: none;
				background-color: white;
				padding: 5px 10px;
				width: 100%;
				padding-left: 15px;
				z-index: 999;
			}
		}
		.close-search{
			display: none;
		}

		.btn-search-2 {
			display: inline-block;
			cursor: pointer;
			position: relative;

			i {
				&:before {
					content: "\e610";
					font-family: 'themify';
					font-size: 18px;
					font-weight: 600;
					color: white;
				}
			}
			&.show-search-mb {
				.ti-search {
					display: none;
				}
				.close-search{
					display: block;
					}
			
					.search-head{
						display: block;
					}
					i {
						&:before {
							content: "\e646";
							font-family: 'themify';
						}
					}
			}
		}
	}
}
// Ipad doc
@media only screen and (max-width: 950px) {
    header{
        &.header-2 {
			padding: 10px;
           .content-head-right{
			   padding-right: 40px;
			   .btn-action{
				   margin-right: 20px;
				   a{
					padding: 5px 10px;
					height: 40px;
					font-size: 13px;
				   }
			   }

		   }
            .menu-mobile-2 {
                position: absolute;
                top: 20px;
				right: 15px;
                i{
                    font-size: 20px;
                    color: white;
                }
                .ti-menu{
                   
                    display: block;
				}
				.close-menu-2{
					display: none;
				}

            }
          .menu{
			  display: none;
		  }
            &.show-menu {
				.menu {
					display: block;
					position: fixed;
					left: 0;
					top: 75px;
					width: 100%;
					height: 100%;
					background: white;
					border-top: 0;
					padding: 0 !important;
					scroll-behavior: smooth;
					transition: all 0.2s ease-in-out;
		
					nav {
		
						ul {
							display: inline-block !important;
							width: 100%;
		
							li {
								width: 100%;
		
								a {
									width: 100%;
									display: inline-block;
									font-size: 16px !important;
									color: $text;
								}
								ul{
									transition: unset;
								}
							}
						}
					}
				   
				}
                .menu-mobile-2 {
                    .ti-menu{
                        display: none;
                    }
                    .close-menu-2{
                        display: block;
                    }
                  }
    
                nav {
                    display: inline-block !important;
                    width: 100%;
    
                    ul li {
						&::before {
							font-size: 16px;
							right: 20px;
							top: 10px;
							color: $text;
						}
                        &:hover ul {
                            position: relative;
                            top: 0 !important;
                            width: 100% !important;
                            box-shadow: none;
                            border-radius: 0;
							background: #046e4508;
							transition: unset;
							border-top: 1px solid #2A6BBC;
                        }
                    }
    
                }
            }
    
        }
    }
  
}
@media only screen and (max-width: 767px) {
	header{
        &.header-2 {
			.logo img{
				height: 40px;
			}
		}
	}
}
/* ========================  End Header 2 (Nav + Hotline + Button Action) ========================= */

/* ========================   Header 3 (Nav + Hotline + Button Action) ========================= */
header {
	&.header-3 {
		display: inline-block;
		width: 100%;
		z-index: 2;
		position: relative;
		padding: 10px 30px;
		background: #FFFFFF;
		box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.05);
		.content-head-left {
			float: left;
		}

		.logo {
			display: inline-block;

			img {
				height: 40px;
			}
		}

		.menu-mobile-3{
           .ti-menu{
               display: none;
           }
            .close-menu-3{
                display: none;
            }
        }
		
		.close-search-3, .ti-search-mb{
			display: none;
		}
		.search-head {
			position: relative;
			display: inline-block;
			margin: 0 20px;
			input {
				border: 1px solid $border;
				height: 50px;
				width: 100%;
				background-color: #fff;
				border-radius: 50px;
				padding: 0 35px 0 15px
			}
			i {
				position: absolute;
				right: 15px;
				top: 15px;
				color: $text-alpha;
				font-size: 18px;
				font-weight: 700;
			}
		}

		.btn-search {
			display: inline-block;
			cursor: pointer;
			position: relative;
			
		}

		.content-head-right{
			float: right;
			.btn-action {
				width: inherit;
			}
		}

		.menu {
			position: relative;
			z-index: 1;
			display: inline-block;

			nav {
				ul {
					padding: 0;
					display: flex;
					justify-content: left;
					margin-bottom: 0;

					li {
						position: relative;
						list-style: none;
						padding: 10px 0;
						&::before {
							content: "\e64b";
							display: inline-block;
							font-family: 'themify';
							font-size: 12px;
							font-weight: 100;
							position: absolute;
							right: 0;
							top: 15px;
							color: $text-alpha;
						}
						&.no-sub{
							&::before{
								display: none;
							}
						}
						i {
							display: none;
						}

						a {
							padding: 0 20px;
							position: relative;
							font-size: 16px;
							font-weight: 600;
							color: $text;
							display: flex;
							align-items: center;
							&:hover {
								color: $brand;

							}

							&.active {
								color: $text-alpha;
							}
						}

						ul {
							position: absolute;
							width: 220px;
							left: 0;
							top: 50px;
							border-radius: 0 0 2px 2px;
							border-top: 1px solid $brand;
							opacity: 0;
							visibility: hidden;
							background: white;
							box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
							padding: 15px 25px;
							-webkit-transition: all .5s ease;
							transition: all .5s ease;
							-webkit-transform: translateY(10px);
							transform: translateY(10px);
							display: inline-block;

							li {
								padding: 3px 0;
									&::before{
										display: none;
									}
								a {
									display: inline-block;
									width: 100%;
									font-weight: normal;
									transition: all 0.3s linear;
									transition: 0.5s;
									padding: 4px 0;
									font-size: 14px;

									&::before {
										display: none;
									}

									&:hover {
										padding-left: 5px;
										border-radius: 2px;
										color: $text-alpha;
									}
								}

							}

						}

						&:hover {
							ul {
								opacity: 1;
								visibility: initial;
							}
						}

						&.active {
							a {
								color: $text-alpha;
							}

							ul {
								li {
									a {
										color: $text;

										&.active {
											color: $text-alpha  !important;
										}
									}
								}
							}
						}
					}
				}
			}
		}

		.btn-common-fill {
			border: 1px solid #2A6BBC;
			border-radius: 28px;
		}

	}

}
// Ipad ngang
@media only screen and (max-width: 1201px) {
	header{
        &.header-3 {
			.logo img{
				height: 35px;
			}
			
		}
	}
}
// Ipad doc
@media only screen and (max-width: 950px) {
    header{
        &.header-3 {
            .content-head-right {
                padding-right: 25px;
            }
    
            .btn-search i {
                color: $text-alpha;
            }
			.btn-search-mb{
				display: none;
			}
            .menu-mobile-3 {
                position: absolute;
                top: 20px;
                right: 15px;
                i{
                    font-size: 20px;
                    color: $text-alpha;
                }
                .ti-menu{
                   
                    display: block;
                }
            }
            .menu {
                position: fixed;
                left: 0;
                top: 60px;
                width: 100%;
                height: 100%;
                background: rgb(255, 255, 255);
                border-top: 0;
                padding: 0 !important;
                scroll-behavior: smooth;
                transition: all 0.2s ease-in-out;
				display: none;
                nav {
                    
    
                    ul {
                        display: inline-block !important;
                        width: 100%;
    
                        li {
                            width: 100%;
    
                            a {
                                width: 100%;
                                display: inline-block;
                                font-size: 16px !important;
    
							}
							ul{
								transition: unset;
							}
                        }
                    }
                }
               
            }
            &.show-menu {
                .menu-mobile-3 {
                    .ti-menu{
                        display: none;
                    }
                    .close-menu-3{
                        display: block;
                    }
                  }
				.menu{
					display: block;
					nav {
						display: inline-block !important;
						width: 100%;
		
						ul li {
							&::before {
								font-size: 16px;
								right: 20px;
								top: 10px;
							}
							&:hover ul {
								position: relative;
								top: 0 !important;
								width: 100% !important;
								box-shadow: none;
								border-radius: 0;
								background: #046e4508;
								transition: unset;
								border-top: 1px solid #2A6BBC;
							}
						}
		
					}
				}
            }
    
        }
    }
  
}

// Mobile
@media only screen and (max-width: 767px) {
	header{
        &.header-3 {
			padding: 10px;
            .menu-mobile-3 {
                top: 18px;
            }
			.search-head{
				display: none;
			}
           
            .btn-common-fill {
                padding: 0 10px;
                height: 40px;
                font-size: 13px;
            }
    
            .content-head-right {
                .btn-action {
                    padding-right: 50px;
                }
			}
			.btn-search-mb {
				position: absolute;
				top: 18px;
				right: 52px;
				display: block;
				i{
					font-size: 20px;
					color: #858585;
					
				}
			}
			.ti-search-mb{
				display: block;
				font-weight: 600;
			}
			&.show-search-mb{
				.close-search-3{
					display: block;
				}
				.ti-search-mb{
					display: none;
				}
				.search-head{
					display: block;
					position: fixed;
					left: 0;
					top: 60px;
					width: 100%;
					margin: 0;
					input{
						border-radius: 0;
						background-color: white;
						box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
						border: 0;
					}
					.ti-search{
						display: none;
					}
				}
				
			}
        }
    }
   
}
/* ========================   End Header 3 (Nav + Hotline + Button Action) ========================= */



/* ========================  Header 4 (Nav + Hotline + Button Action) ========================= */
header {
	&.header-4 {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		z-index: 2;
		position: relative;
		padding: 10px 30px;
		background: #FFFFFF;
		box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.05);
		.logo {
			display: inline-block;

			img {
				height: 40px;
			}
		}
		.lang-header4{
			display: inline-block;
			margin-left: 20px;
			a{
				display: inline-block;
				img{
					width: 24px;
					height: 24px;
				}
			}
		}

		.menu {
			position: relative;
			z-index: 1;
			display: inline-block;

			nav {
				ul {
					padding: 0;
					display: flex;
					justify-content: left;
					margin-bottom: 0;

					li {
						position: relative;
						list-style: none;
						padding: 10px 0;
						&::before {
							content: "\e64b";
							display: inline-block;
							font-family: 'themify';
							font-size: 12px;
							font-weight: 100;
							position: absolute;
							right: 0;
							top: 15px;
							color: $text-alpha;
						}
						&.no-sub{
							&::before{
								display: none;
							}
						}
						i {
							display: none;
						}

						a {
							padding: 0 20px;
							position: relative;
							font-size: 16px;
							font-weight: 600;
							color: $text;
							display: flex;
							align-items: center;
							&:hover {
								color: $brand;

							}

							&.active {
								color: $text-alpha;
							}
							
						}

						ul {
							position: absolute;
							width: 220px;
							left: 0;
							top: 48px;
							border-radius: 0 0 2px 2px;
							border-top: 1px solid $brand;
							opacity: 0;
							visibility: hidden;
							background: white;
							box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
							padding: 15px 25px;
							-webkit-transition: all .5s ease;
							transition: all .5s ease;
							-webkit-transform: translateY(10px);
							transform: translateY(10px);
							display: inline-block;

							li {
								padding: 3px 0;
									&::before{
										display: none;
									}
								a {
									display: inline-block;
									width: 100%;
									font-weight: normal;
									transition: all 0.3s linear;
									transition: 0.5s;
									padding: 4px 0;
									font-size: 14px;

									&::before {
										display: none;
									}

									&:hover {
										padding-left: 5px;
										border-radius: 2px;
										color: $text-alpha;
									}
								}
								&:first-child{
									a{
										padding-left: 4px;
									}
								}
							}

						}

						&:hover {
							ul {
								opacity: 1;
								visibility: initial;
							}
						}

						&.active {
							a {
								color: $text-alpha;
							}

							ul {
								li {
									a {
										color: $text;

										&.active {
											color: $text-alpha  !important;
										}
									}
								}
							}
						}
						&:first-child{
							a{
								padding-left: 0;
							}
						}
					}
				}
			}
		}

		.btn-common-fill {
			border-radius: 28px;
		}
		.menu-mobile{
			display: none;
           .ti-menu{
               display: none;
           }
            .close-menu{
                display: none;
            }
        }

		.search-head {
			display: none;
			left: 0;
			transition: 0.5s;
			box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
			position: fixed;
			top: 60px;
			width: 100%;
			margin: 0;
			z-index: 999;
			input {
				border-radius: 0;
				border: none;
				background-color: white;
				padding: 5px 10px;
				width: 100%;
				padding-left: 15px;
				z-index: 999;
			}
		}
		.close-search{
			display: none;
		}

		.btn-search {
			display: inline-block;
			cursor: pointer;
			position: relative;

			i {
				&:before {
					content: "\e610";
					font-family: 'themify';
					font-size: 18px;
					font-weight: 600;
				}
			}
			&.show-search-mb {
				.ti-search {
					display: none;
				}
				.close-search{
					display: block;
					}
			
					.search-head{
						display: block;
					}
					i {
						&:before {
							content: "\e646";
							font-family: 'themify';
							font-size: 18px;
							font-weight: 600;
						}
					}
			}
		}

		.content-head-right,
		.content-head-right-mb {
			.lang-header4 {
				margin: 0 20px;
				width: auto;
			}

			.btn-login {
				display: inline-block;
				margin: 0 20px;
				color: $text;
			}

			.btn-action {
				width: inherit;
			}
		}

		.content-head-right-mb {
			display: none;
		}


	}

}
// Ipad ngang
@media only screen and (max-width: 1201px){
	header {
		&.header-4 {
				padding: 10px;
				.logo{
					padding-left: 50px;
				}
            .menu-mobile {
                position: absolute;
                top: 22px;
				left: 15px;
				display: block;
                i{
                    font-size: 20px;
                    color: $text-alpha;
                }
                .ti-menu{
                   
                    display: block;
                }
            }
            .menu {
                position: fixed;
                left: 0;
                top: 70px;
                width: 100%;
                height: 100%;
                background: rgb(255, 255, 255);
                border-top: 0;
                padding: 0 !important;
                scroll-behavior: smooth;
                transition: all 0.2s ease-in-out;
				display: none;
                nav {
                    
    
                    ul {
                        display: inline-block !important;
                        width: 100%;
    
                        li {
                            width: 100%;
    
                            a {
                                width: 100%;
                                display: inline-block;
                                font-size: 16px !important;
    
							}
							ul{
								transition: unset;
							}
							&:first-child{
								a{
									padding-left: 20px;
								}
							}
                        }
                    }
                }
               
            }
            &.show-menu {
                .menu-mobile {
                    .ti-menu{
                        display: none;
                    }
                    .close-menu{
                        display: block;
                    }
                  }
				.menu{
					display: block;
					nav {
						display: inline-block !important;
						width: 100%;
		
						ul li {
							&::before {
								font-size: 16px;
								right: 20px;
								top: 10px;
							}
							&:hover ul {
								position: relative;
								top: 0 !important;
								width: 100% !important;
								box-shadow: none;
								border-radius: 0;
								background: #046e4508;
								transition: unset;
								border-top: 1px solid #2A6BBC;
							}
						}
		
					}
				}
              
    
                .content-head-right-mb {
                    display: none;
                }
            }
		}
	}

}
// Mobile
@media only screen and (max-width: 767px) {
	header{
        &.header-4 {
            .btn-search {
                position: absolute;
                top: 18px;
				right: 15px;
				i{
					color: $text-alpha;
				}
            }
    
            .logo img {
                height: 35px;
            }
    
            .lang-header4,
            .btn-login {
                margin: 10px 5px !important;
            }
    
            .btn-common-fill {
                padding: 0 10px;
                height: 40px;
                font-size: 13px;
            }
    
            .content-head-right {
                .lang-header4,
                .btn-login {
                    display: none;
                }
    
                .btn-action {
                    padding-right: 50px;
                }
            }
            &.show-menu {
                .content-head-right {
                    .lang-header4,
                    .btn-login {
                        display: none;
                    }
                }
    
                .content-head-right-mb {
                    display: block !important;
					float: left;
					padding-left: 15px;
					.lang-header4, .btn-login{
						width: 100%;
					}
                }
            }
        }
    }
   
}
@media only screen and (max-width: 1201px){
header.header-4 .logo {
	padding-left: 40px;
	img{
		height: 30px;
		}
	}
}

/* ======================== End Header 4 (Nav + Hotline + Button Action) ========================= */


/* ========================  Header 5 (Nav + Hotline + Button Action) ========================= */
header {
	&.header-5 {
		display: inline-block;
		width: 100%;
		.top-head{
			background-color: #383E49;
			padding: 10px;
			width: 100%;
			float: left;
			ul {
				margin-bottom: 0;
				float: right;
				list-style: none;
				li{
					float: left;
					margin: 0 15px;
					a{
						color: white;
						font-size: 14px;
						img{
							height: 24px;
						}
					}
				}
			}
		}
		.bottom-head{
			display: flex;
			align-items: center;
			justify-content: space-between;	
			width: 100%;
			z-index: 2;
			position: relative;
			padding: 10px 30px;
			background: #14161B;	
		}
		.menu {
			position: relative;
			z-index: 1;
			display: inline-block;

			nav {
				ul {
					padding: 0;
					display: flex;
					justify-content: left;
					margin-bottom: 0;

					li {
						position: relative;
						list-style: none;
						padding: 10px 0;
						&::before {
							content: "\e64b";
							display: inline-block;
							font-family: 'themify';
							font-size: 12px;
							font-weight: 100;
							position: absolute;
							right: 0;
							top: 15px;
							color: white;
						}
						&.no-sub{
							&::before{
								display: none;
							}
						}
						i {
							display: none;
						}

						a {
							padding: 0 20px;
							position: relative;
							font-size: 16px;
							font-weight: 600;
							color: white;
							display: flex;
							align-items: center;
							&:hover {
								color: white;

							}

							&.active {
								color: $text-alpha;
							}
						}

						ul {
							position: absolute;
							width: 220px;
							left: 0;
							top: 52px;
							border-radius: 0 0 2px 2px;
							opacity: 0;
							visibility: hidden;
							background: white;
							box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
							padding: 15px 25px;
							-webkit-transition: all .5s ease;
							transition: all .5s ease;
							-webkit-transform: translateY(10px);
							transform: translateY(10px);
							display: inline-block;

							li {
								padding: 3px 0;
									&::before{
										display: none;
									}
								a {
									display: inline-block;
									width: 100%;
									font-weight: normal;
									transition: all 0.3s linear;
									transition: 0.5s;
									padding: 4px 0;
									font-size: 14px;
									color: $text;

									&::before {
										display: none;
									}

									&:hover {
										padding-left: 5px;
										border-radius: 2px;
										color: $text-alpha;
									}
								}

							}

						}

						&:hover {
							ul {
								opacity: 1;
								visibility: initial;
							}
						}

						&.active {
							a {
								color: $text-alpha;
							}

							ul {
								li {
									a {
										color: $text;

										&.active {
											color: $text-alpha;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		 
		.logo{
			float: left;
		}
		.content-head-right{
			float: right;
			display: flex;
			align-items: center;
			.btn-action{
				width: fit-content;
				margin-right: 15px;
				border: 1px solid transparent;
				&:hover{
					border: 1px solid white;
					color: white;
				}
			}
		}
		.menu-mobile-5{
			display: none;
			.ti-menu{
				display: none;
			}
			 .close-menu-5{
				 display: none;
			 }
		 }
	
	}
}
// Ipad doc
@media only screen and (max-width: 950px) {
    header{
        &.header-5 {
           .content-head-right{
			   padding-right: 10px;
			   .btn-action{
				   margin-right: 20px;
				   a{
					padding: 5px 10px;
					height: 40px;
					font-size: 13px;
				   }
			   }

		   }
            .menu-mobile-5 {
                position: absolute;
                top: 20px;
				right: 15px;
				display: block;
                i{
                    font-size: 20px;
                    color: white;
                }
                .ti-menu{
                   
                    display: block;
				}
				.close-menu-5{
					display: none;
				}

            }
          .menu{
			  display: none;
		  }
            &.show-menu {
				.menu {
					display: block;
					position: fixed;
					left: 0;
					top: 107px;
					width: 100%;
					height: 100%;
					background: white;
					border-top: 0;
					padding: 0 !important;
					scroll-behavior: smooth;
					transition: all 0.2s ease-in-out;
		
					nav {
		
						ul {
							display: inline-block !important;
							width: 100%;
		
							li {
								width: 100%;
		
								a {
									width: 100%;
									display: inline-block;
									font-size: 16px !important;
									color: $text;
								}
								ul{
									transition: unset;
								}
							}
						}
					}
				   
				}
                .menu-mobile-5 {
                    .ti-menu{
                        display: none;
                    }
                    .close-menu-5{
                        display: block;
                    }
                  }
    
                nav {
                    display: inline-block !important;
                    width: 100%;
    
                    ul li {
						&::before {
							font-size: 16px;
							right: 20px;
							top: 10px;
							color: $text;
						}
                        &:hover ul {
                            position: relative;
                            top: 0 !important;
                            width: 100% !important;
                            box-shadow: none;
                            border-radius: 0;
							background: #046e4508;
							transition: unset;
							border-top: 1px solid #2A6BBC;
                        }
                    }
    
                }
            }
    
        }
    }
  
}
@media only screen and (max-width: 767px) {
	header{
        &.header-5 {
			.top-head ul li{ 
				margin: 0 5px;
				a{
					font-size: 13px;
					img{
						height: 20px;
					}
				}
				
			}
			.logo img{
				height: 35px;
			}
		}
	}
}
@media only screen and (max-width: 320px) {
	header{
        &.header-5 {
			.bottom-head{
				padding: 10px;
				
			}
			.top-head ul li a img{
				height: 16px;
				margin-right: 5px;
			}
		}
	}
}
/* ========================  End Header 5 (Nav + Hotline + Button Action) ========================= */


/* ========================  Header 6 (Nav + Hotline + Button Action) ========================= */
header {
	&.header-6 {
			display: inline-block;
			width: 100%;
			z-index: 2;
			position: relative;
			padding: 10px 30px;
			background: linear-gradient(270.12deg, #037CC4 0%, #9AC4E2 73.58%, #0C80C5 100%);	
			.h-container{
				max-width: 1000px;
				margin:  0 auto;
			}
			.top-head{
				width: 100%;
				padding: 5px 0;
				.social-box {
					display: inline-block;
					margin: 0 10px;
					a{
						color: white;
						margin: 0 10px;
					}
				}
				.phone-box {
					display: inline-block;
					i, span {
						color: #fff;
						font-size: 16px;
					}
				}
				.language-box{
					display: inline-block;
					margin-left: 20px;
				}
			}
			
		.menu {
			position: relative;
			z-index: 1;
			display: inline-block;
			text-align: left;
			nav {
				ul {
					padding: 0;
					display: flex;
					justify-content: left;
					margin-bottom: 0;

					li {
						position: relative;
						list-style: none;
						padding: 10px 0;
						&::before {
							content: "\e64b";
							display: inline-block;
							font-family: 'themify';
							font-size: 12px;
							font-weight: 100;
							position: absolute;
							right: 0;
							top: 15px;
							color: white;
						}
						&.no-sub{
							&::before{
								display: none;
							}
						}
						i {
							display: none;
						}

						a {
							padding: 0 20px;
							position: relative;
							font-size: 16px;
							font-weight: 600;
							color: white;
							display: flex;
							align-items: center;
							&:hover {
								color: white;

							}

							&.active {
								color: $text-alpha;
							}
						}

						ul {
							position: absolute;
							width: 220px;
							left: 0;
							top: 52px;
							border-radius: 0 0 2px 2px;
							opacity: 0;
							visibility: hidden;
							background: white;
							box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
							padding: 15px 25px;
							-webkit-transition: all .5s ease;
							transition: all .5s ease;
							-webkit-transform: translateY(10px);
							transform: translateY(10px);
							display: inline-block;

							li {
								padding: 3px 0;
									&::before{
										display: none;
									}
								a {
									display: inline-block;
									width: 100%;
									font-weight: normal;
									transition: all 0.3s linear;
									transition: 0.5s;
									padding: 4px 0;
									font-size: 14px;
									color: $text;

									&::before {
										display: none;
									}

									&:hover {
										padding-left: 5px;
										border-radius: 2px;
										color: $text-alpha;
									}
								}

							}

						}

						&:hover {
							ul {
								opacity: 1;
								visibility: initial;
							}
						}

						&.active {
							a {
								color: $text-alpha;
							}

							ul {
								li {
									a {
										color: $text;

										&.active {
											color: $text-alpha;
										}
									}
								}
							}
						}
						&:last-child{
							a{
								padding-right: 0;
							}
						}
					}
				}
			}
		}
		 
		.logo{
			float: left;
		}
		.content-head-right{
			float: right;
			text-align: right;
		}
		.menu-mobile-6{
			display: none;
			.ti-menu{
				display: none;
			}
			 .close-menu-6{
				 display: none;
			 }
		 }
	
	}
}
// // Ipad doc
@media only screen and (max-width: 950px) {
    header{
        &.header-6 {
			padding: 10px;
			.logo img{
				height: 40px;
			}
			.top-head{
				padding: 7px 35px 0 0;
				.language-box {
					margin-left: 0;
				}
				.phone-box{
					display: none;
				}
			} 
           .content-head-right{
			   padding-right: 10px;
			   .btn-action{
				   margin-right: 20px;
				   a{
					padding: 5px 10px;
					height: 40px;
					font-size: 13px;
				   }
			   }

		   }
            .menu-mobile-6 {
                position: absolute;
                top: 20px;
				right: 15px;
				display: block;
                i{
                    font-size: 20px;
                    color: white;
                }
                .ti-menu{
                   
                    display: block;
				}
				.close-menu-6{
					display: none;
				}

            }
          .menu{
			  display: none;
		  }
            &.show-menu {
				.menu {
					display: block;
					position: fixed;
					left: 0;
					top: 60px;
					width: 100%;
					height: 100%;
					background: white;
					border-top: 0;
					padding: 0 !important;
					scroll-behavior: smooth;
					transition: all 0.2s ease-in-out;
		
					nav {
		
						ul {
							display: inline-block !important;
							width: 100%;
		
							li {
								width: 100%;
		
								a {
									width: 100%;
									display: inline-block;
									font-size: 16px !important;
									color: $text;
								}
								ul{
									transition: unset;
								}
							}
						}
					}
				   
				}
                .menu-mobile-6 {
                    .ti-menu{
                        display: none;
                    }
                    .close-menu-6{
                        display: block;
                    }
                  }
    
                nav {
                    display: inline-block !important;
                    width: 100%;
    
                    ul li {
						&::before {
							font-size: 16px;
							right: 20px;
							top: 10px;
							color: $text;
						}
                        &:hover ul {
                            position: relative;
                            top: 0 !important;
                            width: 100% !important;
                            box-shadow: none;
                            border-radius: 0;
							background: #046e4508;
							transition: unset;
							border-top: 1px solid #2A6BBC;
                        }
                    }
    
                }
            }
    
        }
    }
  
}

/* ========================  End Header 6 (Nav + Hotline + Button Action) ========================= */



/* ========================  Header 7 (Nav + Hotline + Button Action) ========================= */
header {
	&.header-7 {
		display: inline-block;
		width: 100%;
		.phone-box {
			display: inline-block;
			span {
					color: #F71729;
					font-size: 16px;
					font-weight: 600;
				}
				img{
					height: 21px;
					margin-right: 5px;
				}
		}
		.content-head-right{
			display: inline-block;
		}
		.top-head{
			border-bottom: 1px solid $border;
			padding: 15px 10px;
			width: 100%;
			float: left;
			display: flex;
    		justify-content: space-between;
			ul {
				margin-bottom: 0;
				float: right;
				list-style: none;
				li{
					float: left;
					margin: 0 15px;
					a{
						color: $text;
						font-size: 14px;
						img{
							height: 18px;
    						margin-right: 5px;
						}
					}
				}
			}
		}
		.bottom-head{
			display: flex;
			align-items: center;
			justify-content: space-between;	
			width: 100%;
			z-index: 2;
			position: relative;
			padding: 10px 30px;	
		}
		.menu {
			position: relative;
			z-index: 1;
			display: inline-block;

			nav {
				ul {
					padding: 0;
					display: flex;
					justify-content: left;
					margin-bottom: 0;

					li {
						position: relative;
						list-style: none;
						padding: 10px 0;
						&::before {
							content: "\e64b";
							display: inline-block;
							font-family: 'themify';
							font-size: 12px;
							font-weight: 100;
							position: absolute;
							right: 0;
							top: 15px;
							color: $text;
						}
						&.no-sub{
							&::before{
								display: none;
							}
						}
						i {
							display: none;
						}

						a {
							padding: 0 20px;
							position: relative;
							font-size: 16px;
							font-weight: 600;
							color: $text;
							display: flex;
							align-items: center;
							&:hover {
								color: $text-alpha;

							}

							&.active {
								color: $text-alpha;
							}
						}

						ul {
							position: absolute;
							width: 220px;
							left: 0;
							top: 30px;
							border-radius: 0 0 2px 2px;
							opacity: 0;
							visibility: hidden;
							background: white;
							box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
							padding: 15px 25px;
							-webkit-transition: all .5s ease;
							transition: all .5s ease;
							-webkit-transform: translateY(10px);
							transform: translateY(10px);
							display: inline-block;

							li {
								padding: 3px 0;
									&::before{
										display: none;
									}
								a {
									display: inline-block;
									width: 100%;
									font-weight: normal;
									transition: all 0.3s linear;
									transition: 0.5s;
									padding: 4px 0;
									font-size: 14px;
									color: $text;

									&::before {
										display: none;
									}

									&:hover {
										padding-left: 5px;
										border-radius: 2px;
										color: $text-alpha;
									}
								}

							}

						}

						&:hover {
							ul {
								opacity: 1;
								visibility: initial;
							}
						}

						&.active {
							a {
								color: $text-alpha;
							}

							ul {
								li {
									a {
										color: $text;

										&.active {
											color: $text-alpha;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		 
		.logo{
			float: left;
		}
		.menu-mobile-7{
			color: $text;
			.ti-menu{
				display: none;
			}
			 .close-menu-7{
				 display: none;
			 }
		 }
 
		 .search-head {
			 display: none;
			 left: 0;
			 transition: 0.5s;
			 box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
			 position: fixed;
			 top: 115px;
			 width: 100%;
			 margin: 0;
			 z-index: 999;
			 input {
				 border-radius: 0;
				 border: none;
				 background-color: white;
				 padding: 5px 10px;
				 width: 100%;
				 padding-left: 15px;
				 z-index: 999;
			 }
		 }
		 .close-search{
			 display: none;
		 }
 
		 .btn-search {
			 display: inline-block;
			 cursor: pointer;
			 position: relative;
			 padding-left: 50px;

			 i {
				 &:before {
					 content: "\e610";
					 font-family: 'themify';
					 font-size: 18px;
					 font-weight: 600;
				 }
			 }
			 &.show-search-mb {
				 .ti-search {
					 display: none;
				 }
				 .close-search{
					 display: block;
					 }
			 
					 .search-head{
						 display: block;
					 }
					 i {
						 &:before {
							 content: "\e646";
							 font-family: 'themify';
							 font-size: 18px;
							 font-weight: 600;
						 }
					 }
			 }
		 }
	
	}
}
// Ipad doc
@media only screen and (max-width: 950px) {
    header{
        &.header-7 {
		  padding: 10px;
		  .logo img{
			  height: 35px;
		  }
		  .top-head ul li a {
			font-size: 12px;
		}
		  .btn-search {
			padding: 0 25px;
		}
		.search-head{
			top: 150px;
		}
		.menu-mobile-7 {
			position: absolute;
			top: 20px;
			right: 15px;
			display: block;
			i{
				font-size: 20px;
				color: $text;
			}
			.ti-menu{
				
				display: block;
			}
			.close-menu-5{
				display: none;
			}

		}
		.menu{
			display: none;
		}
            &.show-menu {
				.menu {
					display: block;
					position: fixed;
					left: 0;
					top: 140px;
					width: 100%;
					height: 100%;
					background: white;
					border-top: 0;
					padding: 0 !important;
					scroll-behavior: smooth;
					transition: all 0.2s ease-in-out;
		
					nav {
		
						ul {
							display: inline-block !important;
							width: 100%;
		
							li {
								width: 100%;
		
								a {
									width: 100%;
									display: inline-block;
									font-size: 16px !important;
									color: $text;
								}
								ul{
									transition: unset;
								}
							}
						}
					}
				   
				}
                .menu-mobile-7 {
                    .ti-menu{
                        display: none;
                    }
                    .close-menu-7{
                        display: block;
                    }
                  }
    
                nav {
                    display: inline-block !important;
                    width: 100%;
    
                    ul li {
						&::before {
							font-size: 16px;
							right: 15px;
							top: 10px;
							color: $text;
						}
                        &:hover ul {
                            position: relative;
                            top: 0 !important;
                            width: 100% !important;
                            box-shadow: none;
                            border-radius: 0;
							background: #046e4508;
							transition: unset;
							border-top: 1px solid #2A6BBC;
                        }
                    }
    
                }
            }
    
        }
    }
  
}
// Mobile
@media only screen and (max-width: 767px) {
	header{
        &.header-7 {
			.top-head{
				display: inherit;
				padding: 0 0 5px 0;
				ul{
					&:first-child{
						display: none;
					}
				}
			}
			.bottom-head{
				padding: 10px;
			}
			.logo img {
				height: 26px;
			}
			.btn-search {
				padding: 0 30px;
			}
			.search-head {
				top: 88px;
			}
			.menu-mobile-7 {
				top: 12px;
				right: 0;
			}
			&.show-menu .menu {
				top: 95px;
			}
		}
	}
}
/* ========================  End Header 7 (Nav + Hotline + Button Action) ========================= */



/* ========================  Header 8 (Nav + Hotline + Button Action) ========================= */
header {
	&.header-8 {
		display: inline-block;
		width: 100%;
		padding: 10px 30px;
		.phone-box {
			display: inline-block;
			padding: 0 20px;
			i{
				font-size: 20px;
				color: $text;
				font-weight: 600;
			}
			span {
					color: $text;
					font-size: 16px;
					font-weight: 600;
				}
		}
		.social-box {
			display: inline-block;
			margin: 0 10px;
			a {
				color: $text;
				margin: 0 10px;
				i{
					font-size: 20px;
				}
			}
		}
		.content-head-right {
			float: right;
			display: flex;
			align-items: center;
		}
		.menu {
			position: relative;
			z-index: 1;
			display: inline-block;

			nav {
				ul {
					padding: 0;
					display: flex;
					justify-content: left;
					margin-bottom: 0;

					li {
						position: relative;
						list-style: none;
						padding: 10px 0;
						&::before {
							content: "\e64b";
							display: inline-block;
							font-family: 'themify';
							font-size: 12px;
							font-weight: 100;
							position: absolute;
							right: 0;
							top: 15px;
							color: $text;
						}
						&.no-sub{
							&::before{
								display: none;
							}
						}
						i {
							display: none;
						}

						a {
							padding: 0 20px;
							position: relative;
							font-size: 16px;
							font-weight: 600;
							color: $text;
							display: flex;
							align-items: center;
							&:hover {
								color: $text-alpha;

							}

							&.active {
								color: $text-alpha;
							}
						}

						ul {
							position: absolute;
							width: 220px;
							left: 0;
							top: 30px;
							border-radius: 0 0 2px 2px;
							opacity: 0;
							visibility: hidden;
							background: white;
							box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
							padding: 15px 25px;
							-webkit-transition: all .5s ease;
							transition: all .5s ease;
							-webkit-transform: translateY(10px);
							transform: translateY(10px);
							display: inline-block;

							li {
								padding: 3px 0;
									&::before{
										display: none;
									}
								a {
									display: inline-block;
									width: 100%;
									font-weight: normal;
									transition: all 0.3s linear;
									transition: 0.5s;
									padding: 4px 0;
									font-size: 14px;
									color: $text;

									&::before {
										display: none;
									}

									&:hover {
										padding-left: 5px;
										border-radius: 2px;
										color: $text-alpha;
									}
								}

							}

						}

						&:hover {
							ul {
								opacity: 1;
								visibility: initial;
							}
						}

						&.active {
							a {
								color: $text-alpha;
							}

							ul {
								li {
									a {
										color: $text;

										&.active {
											color: $text-alpha;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		 
		.logo{
			float: left;
		}
		.menu-mobile-8{
			color: $text;
			.ti-menu{
				display: none;
			}
			 .close-menu-8{
				 display: none;
			 }
		 }
 
	
	}
}
// Ipad doc
@media only screen and (max-width: 1201px) {
    header{
        &.header-8 {
		  padding: 10px;
		  .logo img{
			  height: 35px;
		  }
		  .social-box {
			margin: 0;
			padding-right: 40px;
		
		}
		.menu-mobile-8 {
			position: absolute;
			top: 15px;
			right: 15px;
			display: block;
			i{
				font-size: 20px;
				color: $text;
			}
			.ti-menu{
				
				display: block;
			}
			.close-menu-8{
				display: none;
			}

		}
		.menu{
			display: none;
		}
            &.show-menu {
				.menu {
					display: block;
					position: fixed;
					left: 0;
					top: 50px;
					width: 100%;
					height: 100%;
					background: white;
					border-top: 0;
					padding: 0 !important;
					scroll-behavior: smooth;
					transition: all 0.2s ease-in-out;
		
					nav {
		
						ul {
							display: inline-block !important;
							width: 100%;
		
							li {
								width: 100%;
		
								a {
									width: 100%;
									display: inline-block;
									font-size: 16px !important;
									color: $text;
								}
								ul{
									transition: unset;
								}
							}
						}
					}
				   
				}
                .menu-mobile-8 {
                    .ti-menu{
                        display: none;
                    }
                    .close-menu-8{
                        display: block;
                    }
                  }
    
                nav {
                    display: inline-block !important;
                    width: 100%;
    
                    ul li {
						&::before {
							font-size: 16px;
							right: 15px;
							top: 10px;
							color: $text;
						}
                        &:hover ul {
                            position: relative;
                            top: 0 !important;
                            width: 100% !important;
                            box-shadow: none;
                            border-radius: 0;
							background: #046e4508;
							transition: unset;
							border-top: 1px solid #2A6BBC;
                        }
                    }
    
                }
            }
    
        }
    }
  
}
// Mobile
@media only screen and (max-width: 767px) {
	header{
		&.header-8{
			.logo img{
				height: 26px;
			}
			.phone-box {
				padding: 0 40px 5px 0;
			}
			.social-box{
				display: none;
			}
		}
	}
}

/* ========================  Header 8 (Nav + Hotline + Button Action) ========================= */



/* ========================  Header 9 (Nav + Hotline + Button Action) ========================= */
header {
	&.header-9 {
		width: 100%;
		z-index: 2;
		position: relative;
		padding: 10px 30px;
		background: #FFFFFF;
		box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.05);
		.btn-action a {
			display: inline-flex;
			align-items: center;
			border-radius: 28px;
			justify-content: center;
			padding: 10px 20px;
			height: 40px;
			margin: 0 10px;
		}
		.logo {
			display: inline-block;

			img {
				height: 40px;
			}
		}

		.menu-mobile-9{
           .ti-menu{
               display: none;
           }
            .close-menu-9{
                display: none;
            }
        }

		.content-head-right{
			float: right;
			.btn-action {
				width: inherit;
			}
		}

		.menu {
			position: relative;
			z-index: 1;
			display: inline-block;

			nav {
				ul {
					padding: 0;
					display: flex;
					justify-content: left;
					margin-bottom: 0;

					li {
						position: relative;
						list-style: none;
						padding: 10px 0;
						&::before {
							content: "\e64b";
							display: inline-block;
							font-family: 'themify';
							font-size: 12px;
							font-weight: 100;
							position: absolute;
							right: 0;
							top: 15px;
							color: $text-alpha;
						}
						&.no-sub{
							&::before{
								display: none;
							}
						}
						i {
							display: none;
						}

						a {
							padding: 0 20px;
							position: relative;
							font-size: 16px;
							font-weight: 600;
							color: $text;
							display: flex;
							align-items: center;
							&:hover {
								color: $brand;

							}

							&.active {
								color: $text-alpha;
							}
						}

						ul {
							position: absolute;
							width: 220px;
							left: 0;
							top: 50px;
							border-radius: 0 0 2px 2px;
							border-top: 1px solid $brand;
							opacity: 0;
							visibility: hidden;
							background: white;
							box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
							padding: 15px 25px;
							-webkit-transition: all .5s ease;
							transition: all .5s ease;
							-webkit-transform: translateY(10px);
							transform: translateY(10px);
							display: inline-block;

							li {
								padding: 3px 0;
									&::before{
										display: none;
									}
								a {
									display: inline-block;
									width: 100%;
									font-weight: normal;
									transition: all 0.3s linear;
									transition: 0.5s;
									padding: 4px 0;
									font-size: 14px;

									&::before {
										display: none;
									}

									&:hover {
										padding-left: 5px;
										border-radius: 2px;
										color: $text-alpha;
									}
								}

							}

						}

						&:hover {
							ul {
								opacity: 1;
								visibility: initial;
							}
						}

						&.active {
							a {
								color: $text-alpha;
							}

							ul {
								li {
									a {
										color: $text;

										&.active {
											color: $text-alpha  !important;
										}
									}
								}
							}
						}
					}
				}
			}
		}

		.btn-common-fill {
			border: 1px solid #2A6BBC;
			border-radius: 28px;
		}

	}

}
// Ipad ngang
@media only screen and (max-width: 1201px) {
	header{
        &.header-9 {
			.logo img{
				height: 35px;
			}
			
		}
	}
}
// Ipad doc
@media only screen and (max-width: 950px) {
    header{
        &.header-9 {
            .content-head-right {
                padding-right: 25px;
            }
			.btn-action a{
				margin: 0;
			}
            .menu-mobile-9 {
                position: absolute;
                top: 20px;
                right: 15px;
                i{
                    font-size: 20px;
                    color: $text-alpha;
                }
                .ti-menu{
                   
                    display: block;
                }
            }
            .menu {
                position: fixed;
                left: 0;
                top: 55px;
                width: 100%;
                height: 100%;
                background: rgb(255, 255, 255);
                border-top: 0;
                padding: 0 !important;
                scroll-behavior: smooth;
                transition: all 0.2s ease-in-out;
				display: none;
                nav {
                    ul {
                        display: inline-block !important;
                        width: 100%;
    
                        li {
                            width: 100%;
    
                            a {
                                width: 100%;
                                display: inline-block;
                                font-size: 16px !important;
    
							}
							ul{
								transition: unset;
							}
                        }
                    }
                }
               
            }
            &.show-menu {
                .menu-mobile-9 {
                    .ti-menu{
                        display: none;
                    }
                    .close-menu-9{
                        display: block;
                    }
                  }
				.menu{
					display: block;
					nav {
						display: inline-block !important;
						width: 100%;
		
						ul li {
							&::before {
								font-size: 16px;
								right: 20px;
								top: 10px;
							}
							&:hover ul {
								position: relative;
								top: 0 !important;
								width: 100% !important;
								box-shadow: none;
								border-radius: 0;
								background: #046e4508;
								transition: unset;
								border-top: 1px solid #2A6BBC;
							}
						}
		
					}
				}
            }
    
        }
	}
	
  
}

// Mobile
@media only screen and (max-width: 767px) {
	header{
        &.header-9 {
			padding: 10px;
			.menu{
				top: 45px;
			}
            .menu-mobile-9 {
                top: 15px;
			}
			.logo img{
				height: 26px;
			}
    
            .content-head-right {
				padding-right: 0;
			}
			.btn-action {
				padding-right: 40px;
				a{
					font-size: 12px;
					padding: 10px;
					height: 30px;
				}
			}
        }
    }
   
}
@media only screen and (max-width: 320px) {
	header{
        &.header-9 {
			.btn-action{
				display: none;
			}
		}
	}
}

/* ======================== End Header 9 (Nav + Hotline + Button Action) ========================= */


/* ========================  Header 10 (Nav + Hotline + Button Action) ========================= */
header {
	&.header-10 {
		display: inline-block;
		width: 100%;
		.ti-search-mb, .close-search-10 {
			display: none;
		}
		.select-items {
			top: 32px;
		}
		.social-box {
			display: inline-block;
			margin: 0 10px;
			a {
				color: $text;
				margin: 0 10px;
				i{
					font-size: 20px;
				}
			}
		}
		.content-head-right{
			display: inline-block;
		}
		.top-head{
			background-color: $brand;
			padding: 8px 10px;
			width: 100%;
			float: left;
			display: flex;
    		justify-content: space-between;
			ul {
				margin-bottom: 0;
				float: right;
				list-style: none;
				li{
					float: left;
					margin: 0 15px;
					a{
						color: white;
						font-size: 14px;
					}
				}
			}
			.custom-select {
				height: auto;
				background-color: transparent;
				border: 0;
				.select-items div{
					color: $text;
				}
				
			}
			.select-selected {
				color: white;
				padding: 0 20px;
				&:after {
					color: #fff;
					top: 0;
					right: 10px;
				}
			}
			.flex-center{
				padding-right: 20px;
			}
		}
		.bottom-head{
			display: flex;
			align-items: center;
			justify-content: space-between;	
			width: 100%;
			z-index: 2;
			position: relative;
			padding: 10px 30px;	
		}
		.search-head {
			position: relative;
			display: inline-block;
			margin: 0 20px;
			input {
				border: 1px solid $border;
				height: 50px;
				width: 100%;
				background-color: #fff;
				border-radius: 50px;
				padding: 0 35px 0 15px
			}
			i {
				position: absolute;
				right: 15px;
				top: 15px;
				color: $text-alpha;
				font-size: 18px;
				font-weight: 700;
			}
		}

		.btn-search {
			display: inline-block;
			cursor: pointer;
			position: relative;
			
		}
		.menu {
			position: relative;
			z-index: 1;
			display: inline-block;

			nav {
				ul {
					padding: 0;
					display: flex;
					justify-content: left;
					margin-bottom: 0;

					li {
						position: relative;
						list-style: none;
						padding: 10px 0;
						&::before {
							content: "\e64b";
							display: inline-block;
							font-family: 'themify';
							font-size: 12px;
							font-weight: 100;
							position: absolute;
							right: 0;
							top: 15px;
							color: $text;
						}
						&.no-sub{
							&::before{
								display: none;
							}
						}
						i {
							display: none;
						}

						a {
							padding: 0 20px;
							position: relative;
							font-size: 16px;
							font-weight: 600;
							color: $text;
							display: flex;
							align-items: center;
							&:hover {
								color: $text-alpha;

							}

							&.active {
								color: $text-alpha;
							}
						}

						ul {
							position: absolute;
							width: 220px;
							left: 0;
							top: 30px;
							border-radius: 0 0 2px 2px;
							opacity: 0;
							visibility: hidden;
							background: white;
							box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
							padding: 15px 25px;
							-webkit-transition: all .5s ease;
							transition: all .5s ease;
							-webkit-transform: translateY(10px);
							transform: translateY(10px);
							display: inline-block;

							li {
								padding: 3px 0;
									&::before{
										display: none;
									}
								a {
									display: inline-block;
									width: 100%;
									font-weight: normal;
									transition: all 0.3s linear;
									transition: 0.5s;
									padding: 4px 0;
									font-size: 14px;
									color: $text;

									&::before {
										display: none;
									}

									&:hover {
										padding-left: 5px;
										border-radius: 2px;
										color: $text-alpha;
									}
								}

							}

						}

						&:hover {
							ul {
								opacity: 1;
								visibility: initial;
							}
						}

						&.active {
							a {
								color: $text-alpha;
							}

							ul {
								li {
									a {
										color: $text;

										&.active {
											color: $text-alpha;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		 
		.logo{
			float: left;
		}
		.menu-mobile-10{
			color: $text;
			display: inline-block;
			.ti-menu{
				display: none;
			}
			 .close-menu-10{
				 display: none;
			 }
		 }
 
	
	}
}
// Ipad ngang
@media only screen and (max-width: 1201px) {
	header{
        &.header-10 {
			.logo img{
				height: 40px;
			}
			.bottom-head{
				padding: 10px;
			}
			.search-head{
				margin-right: 0;
			}
		}
	}
}
// Ipad doc
@media only screen and (max-width: 950px) {
    header{
        &.header-10 {
		  padding: 0;
		  .logo img{
			  height: 35px;
		  }
		  .top-head ul li a {
			font-size: 12px;
		}
		  .btn-search {
			padding: 0 25px;
		}
		.menu-mobile-7 {
			position: absolute;
			top: 20px;
			right: 15px;
			display: block;
			i{
				font-size: 20px;
				color: $text;
			}
			.ti-menu{
				
				display: block;
			}
			.close-menu-5{
				display: none;
			}

		}
		.menu{
			display: none;
		}
		.menu-mobile-10 {
			.ti-menu{
				display: block;
			}
			.close-menu-10{
				display: none;
			}
		  }
		&.show-menu {
			.menu-mobile-10 {
				.ti-menu{
					display: none;
				}
				.close-menu-10{
					display: block;
				}
			  }
			.menu {
				display: block;
				position: fixed;
				left: 0;
				top: 140px;
				width: 100%;
				height: 100%;
				background: white;
				border-top: 0;
				padding: 0 !important;
				scroll-behavior: smooth;
				transition: all 0.2s ease-in-out;
	
				nav {
	
					ul {
						display: inline-block !important;
						width: 100%;
	
						li {
							width: 100%;
	
							a {
								width: 100%;
								display: inline-block;
								font-size: 16px !important;
								color: $text;
							}
							ul{
								transition: unset;
							}
						}
					}
				}
				
			}
			
			nav {
				display: inline-block !important;
				width: 100%;

				ul li {
					&::before {
						font-size: 16px;
						right: 15px;
						top: 10px;
						color: $text;
					}
					&:hover ul {
						position: relative;
						top: 0 !important;
						width: 100% !important;
						box-shadow: none;
						border-radius: 0;
						background: #046e4508;
						transition: unset;
						border-top: 1px solid #2A6BBC;
					}
				}

			}
		}
    
        }
    }
  
}
// Mobile
@media only screen and (max-width: 767px) {
	header{
        &.header-10 {
			
			.social-box {
				padding-right: 40px;
				a i{
					font-size: 18px;
				}
			}
			
			.search-head{
				display: none;
			}
			.btn-search-mb {
				position: absolute;
				top: 13px;
				right: 52px;
				display: block;
				i{
					font-size: 18px;
					color: #858585;
					
				}
				.close-search-10{
					display: none;
				}
			}
			.ti-search-mb{
				display: block;
				font-weight: 600;
			}
			&.show-search-mb{
				.close-search-10{
					display: block;
				}
				.ti-search-mb{
					display: none;
				}
				.search-head{
					display: block;
					position: fixed;
					left: 0;
					top: 80px;
					width: 100%;
					margin: 0;
					input{
						border-radius: 0;
						background-color: white;
						box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
						border: 0;
					}
					.ti-search{
						display: none;
					}
				}
				
			}
			.top-head{
				display: inherit;
				padding: 5px 0 5px 0;
				ul{
					&:first-child{
						display: none;
					}
				}
				.select-selected:after {
					right: 24px;
				}
				.select-items {
					top: 26px;
				}
			}
			.bottom-head{
				padding: 10px;
			}
			.logo img {
				height: 26px;
			}
			.btn-search {
				padding: 0 30px;
			}
			.menu-mobile-10 {
				top: 12px;
				right: 0;
			}
			&.show-menu .menu {
				top: 95px;
			}
			

		}

	}
}
/* ========================  End Header 10 (Nav + Hotline + Button Action) ========================= */


/* ========================  Section Services list 01  ========================= */
.services-list-01{
	.box-shadow{
		padding: 20px;
		box-shadow: none;
		margin-top: -20px;
	}
	.list-danh-muc {
		margin-bottom: 25px;
		li {
			list-style: none;
			margin: 12px 0;
	
			a {
				color: $text-alpha;
				font-size: 14px;
	
				&:hover {
					color: $brand;
				}
			}
	
			&.active {
				a {
					color: $text-erro;
				}
			}
		}
	}
	.box-shadow.filter-pc{
		h6{
			margin: 15px 0;
		}
	}
	.custom-checkbox{
		margin: 20px 0;
		.label-custom{
			span{
				color: $text-alpha;
				font-size: 14px;
				padding-left: 5px;
			}
		}
	}
	.box-banner {
		display: inline-block;
		width: 100%;
		background: #FFFFFF;
		border: 1px solid #E9EAEE;
		border-radius: 4px;
		overflow: hidden;
		margin-bottom: 30px;
	}
	.title-box{
		font-size: 24px;
		font-weight: 500;
		padding: 6px 15px 20px 10px;
		display: inline-block;
		color: $text;
		&:hover{
			color: $text-alpha;
		}
	}
	.filter-service-mb{
		display: none;
	}
}
// Ipad doc
@media only screen and (max-width: 950px) {
	.services-list-01{
		.col-md-9, .col-md-3{
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
		}
		.filter-pc{
			display: none;
		}
		.filter-service-mb{
			display: flex;
			width: 100%;
			background-color: #F5F7FA;
			padding: 5px 0;
			border-radius: 4px;
			margin-bottom: 22px;
			.custom-select {
				padding: 0;
				padding-right: 15px;
				height: inherit;
				border: 0;
				background: transparent;
		}
		.select-selected {
			color: #404040;
			&::after {
				top: 10px;
			}
		}
	}
	}
}
// Ipad mobile
@media only screen and (max-width: 767px) {
	.services-list-01{
		.title-box{
			font-size: 20px;
		}
		.box-banner {
			margin-bottom: 10px;
		}
	}

}
/* ========================  End Section Services list 01  ========================= */

/* ========================   Section Services list 02  ========================= */
.services-list-02{
	.tab-system{
		.nav-tabs .nav-item {
			color: $text-alpha;
			font-weight: 500;
			&.active{
				color: $brand !important;
			}
		}
		.tab-content{
			margin-top: 30px;
		}
		.row{
			margin: 0 10px;
		}
	}
	.item-service {
		background: #FFFFFF;
		box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.08);
		border-radius: 2px;
		padding: 50px 25px;
		text-align: center;
		margin-bottom: 40px;
		cursor: pointer;
		transition: 0.5s;
		a {
			display: inline-block;
			width: 100%;
			img{
				height: 100px;
			}
		}
		.title-service{
			font-size: 24px;
			font-weight: 500;
			color: $text;
			margin-top: 15px;
		}
		
	}
}
// Ipad dmobileoc
@media only screen and (max-width: 767px) {
	.services-list-02 {
		.item-service {
			padding:20px 15px;
			margin-bottom: 14px;
			a img {
				height: 70px;
			}
		}
	}
}

/* ========================  End Section Services list 02  ========================= */


/* ========================   Section Services list 03  ========================= */
.services-list-03{
	.info-kh {
		display: inline-block;
		width: 100%;
		margin-bottom: 35px;
		.avatar-thumb a {
			padding-top: 59%;
		}
		h5 {
			@include webkit-line-clamp;
			-webkit-line-clamp: 3;
			margin-top: 5px;
			a{
				font-size: 20px;
				color: $text;
			}
			
		}
		p{
			@include webkit-line-clamp;
			-webkit-line-clamp: 3;
			font-size: 14px;
			color: $text-alpha;
		}
	}
}
.head-page-service-3{
    position: relative;
    background-size: cover !important;
    min-height: 411px;
    text-align: center;
    color: white;
	.head-title-page {
		display: inline-block;
		width: 100%;
		h1 {
			max-width: 80%;
			margin: 0 auto 20px auto;
		}
		p {
			font-size: 20px;
			line-height: 28px;
			max-width: 900px;
			margin: 0 auto;
			text-align: center;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			-webkit-line-clamp: 4;
		}
	}
}
.menu-tab-service-3 {
	background-color: white;
	width: 100%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
	ul {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 15px 0;
		margin: 0;
		padding-bottom: 0;
		overflow-x: scroll;
		height: auto;
		white-space: nowrap;
		width: 100%;
		flex-wrap: unset;
		li {
			padding: 10px 20px;
			list-style: none;
			a {
				color: #2e2e2e;
				font-size: 16px;
				padding-bottom: 10px;
				&.show-active {
					color: #E22127 !important;
					border-bottom: 1px solid #E22127 !important;
				}
			}
			
		}
	}
	&.show-sticky{
		top: 0;
	}
}
@media only screen and (max-width: 767px) {
	.services-list-03 {
		.col-md-3{
			width: 50%;
		}
		.info-kh{
			margin-bottom: 10px;
			p{
				display: none;
			}
			h5 a {
				font-size: 16px;
			}
		} 
	}
	.head-page-service-3 {
		min-height: 347px;
		color: white;
		.head-title-page h1 {
			max-width: 100%;
			margin: 0 auto 20px auto;
			font-size: 35px !important;
		}
	}
	.menu-tab-service-3 ul{
		justify-content: left;
	}
}

/* ========================   END Section Services list 03  ========================= */


/* ========================    Section Services list 04  ========================= */
.head-page-service-4 {
	text-align: center;
	.head-title-page h1 {
		max-width: 80%;
		margin: 0 auto 20px auto;
	}
}
.services-list-04{
	.item-service{
		margin: 0 0 50px 0;
		position: relative;
		display: inline-block;
		width: 100%;
		padding-bottom: 200px;
		.box-info-servcie{
			background: #FFFFFF;
			box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.08);
			border-radius: 2px;
			padding: 30px;
			display: inline-block;
			position: absolute;
			bottom: 0;
			left: 15px;
			max-width: 500px;
			margin: 0 auto;
		}
		.btn-common-fill{
			color: #E8A43F;
			border: 1px solid #E8A43F;
			background-color: white;
			float: right;
			margin: 20px 0 0 0;
		}
	}
	.avatar-thumb {
	
		img{
			border-radius: 2px;
		}
	}
	.title-service{
		@include webkit-line-clamp ();
		font-size: 24px;
		font-weight: 600;
		color: $text;
	}
	.cate-service{
		color: #E8A43F;

	}
}
@media only screen and (max-width: 950px) {
	.services-list-04 .item-service {
		padding: 0 15px;
		margin-bottom: 20px;
		.title-service {
			-webkit-line-clamp: inherit;
			font-size: 22px;
		}
		.avatar-thumb {
			float: left;
		}
		.box-info-servcie {
			position: inherit;
			left: 0;
			max-width: 100%;
			padding: 15px 20px;
		}
	}
}

/* ========================   END Section Services list 04  ========================= */

/* ========================   Section Services list 05  ========================= */
.services-list-05{
	.box-shadow{
		padding: 20px;
		box-shadow: none;
		margin-top: -20px;
	}
	.list-danh-muc {
		margin-bottom: 25px;
		li {
			list-style: none;
			margin: 12px 0;
	
			a {
				color: $text-alpha;
				font-size: 14px;
	
				&:hover {
					color: $brand;
				}
			}
	
			&.active {
				a {
					color: $text-erro;
				}
			}
		}
	}
	.box-shadow.filter-pc{
		h6{
			margin: 15px 0;
		}
	}
}

/* ========================  End Section Services list 05  ========================= */

/* ========================    Section Services list 06  ========================= */
.head-page-service-6 {
	text-align: center;
	.head-title-page h1 {
		max-width: 80%;
		margin: 0 auto 20px auto;
	}
}
.services-list-06{
	.tab-system .nav-item.show .nav-link, .tab-system .nav-tabs .nav-link.active {
		border-bottom: 1.5px solid #E8A43F;
		color: #E8A43F;
	}
	.item-service{
		margin: 0 0 20px 0;
		position: relative;
		display: inline-block;
		width: 100%;
		.box-info-servcie{
			background: #FFFFFF;
			padding: 15px 0 20px 0;
			display: inline-block;
		}
		.btn-common-fill{
			color: $text;
			border: 1px solid $text;
			background-color: white;
			margin: 20px 0 0 0;
		}
	}
	.title-service{
		@include webkit-line-clamp ();
		font-size: 24px;
		font-weight: 600;
		color: $text;
	}
	.cate-service{
		color: $text;
		border-bottom: 1px solid #e6e6e6;
		padding: 0 0px 10px 0;
		margin-bottom: 10px;
		display: inline-block;
		width: 45%;
		margin-right: 15px;
		font-size: 14px;
		&:hover{
			color: $brand;
		}

	}
}
@media only screen and (max-width: 1201px) {
	.services-list-06 .cate-service{
		width: 40%;
	}
}
@media only screen and (max-width: 767px){
.services-list-06 .cate-service {
    width: 40%;
}
}

/* ========================    End Section Services list 06  ========================= */