@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
$border: #E6E6E6;
$bg-gray: #F5F7FB;
$brand: #2A6BBC;
$brand-2: #5AAE37;
$text:#333;
$text-alpha:#858585;
$text-erro: #F71729;
@import 'style-system';
/* ========================  Hompage - Giới thiệu tổng quan 1 ========================= */
.gioithieu-tongquan1{
    background: #FFF1D8;
    padding: 50px 0;
}
.h-gioithieu-tongquan1{
    &.row{
        align-items: center;
    }
            img{
                width: 100%;
                margin: 20px 0;
            }
        
    
    h6{
        
        margin: 20px 0 15px 0;
        text-transform: uppercase;
        
    }
    p{
        line-height: 28px;
    }
    span{
        font-size: 14px;
        text-transform: uppercase;
        color: $text-alpha;
        
    }
}

// Mobile
@media only screen and (max-width: 767px) {
    .h-gioithieu-tongquan1{
        margin-top: 0;
        h6{
            font-size: 18px !important;
            line-height: 30px;
            margin: 15px 0;
        }
    }
}

/* ========================  End Hompage - Giới thiệu tổng quan 1 ========================= */
/* ========================  Hompage - Giới thiệu tổng quan 2 ========================= */
.gioithieu-tongquan2{
    background: white;
    padding: 50px 0;
}
.h-gioithieu-tongquan2{
    margin-top: 0;
            img{
                width: 100%;
                margin: 20px 0;
            }
    h6{ 
        margin: 20px 0 15px 0;
    }
    span{
        font-size: 14px;
        color: $text-alpha;
        
    }
}
// Mobile
@media only screen and (max-width: 767px) {
    .h-gioithieu-tongquan2{
        h6{
            font-size: 18px !important;
            line-height: 30px;
            margin: 15px 0;
        }
    }
}
/* ========================  End Hompage - Giới thiệu tổng quan 2 ========================= */

/* ========================  Hompage - Giới thiệu tổng quan 3 ========================= */
.gioithieu-tongquan3{
    .text-brand{
        font-size: 16px;
        margin-bottom: 15px;
    }
	.row{
		align-items: center;
	}
	p{
		font-size: 32px;
        text-align: left;
        
        margin-bottom: 20px;
        font-weight: 800;
	}
	span{
		font-size: 20px;
	}
    .item-box-h{
        margin-top: 50px;
    }
    
}
.item-box-h{
    text-align: center;
    img{
        width: 52px;
    }
    h4{
        margin-bottom: 15px;
        margin-top: 30px;
    }
    p{
        font-size: 16px;
        color: $text-alpha;
        font-weight: normal;
        line-height: 24px;
        text-align: center;
    }
}
.list-number-td{
	display: inline-block;
	width: 100%;
	position: relative;
    background: url(../images/h-bgcircle.png) no-repeat center top;
    background-size: contain !important;
    height: 100%;
	p{
		font-weight: 700;
		text-align: center;
		line-height: normal;
    	margin-bottom: 0;
	}
	span{
		font-size: 20px;
	}

}
.number-td01{
	color: white;
	text-align: center; 
	width: 230px;
	height: 230px;
	border-radius: 100%;
	background-color: $text-erro;
    opacity: .6;
	position: absolute;
    z-index: 1;
	p{
		font-size: 60px;
	}
}
.number-td02{
	color: white;
	text-align: center;
	width: 320px;
	height: 320px;
	border-radius: 100%;
	background-color: $brand;
    opacity: .6;
	position: relative;
    margin-top: 150px;
    margin-left: 50px;
	p{
		font-size: 136px;
		
	}
}
.number-td03{
    opacity: .6;
	color: white;
	text-align: center;
	width: 180px;
	height: 180px;
	border-radius: 100%;
	background-color: #85B867;
	position: absolute;
    right: 100px;
    top: 100px;
	p{
		font-size: 66px;
		
	}
	
}
// Ipad ngang
@media only screen and (max-width: 1201px) {
    .gioithieu-tongquan3 {
        .number-td03{
            right: 0;
        }
        .number-td02 {
            p {
                font-size: 100px;
            }
        }
        .mo-ta-con-so {
            font-size: 22px;
        }
        
    }
    
}
// Ipad doc
@media only screen and (max-width: 950px) {
    .number-td03 p, .number-td01 p {
        font-size: 66px !important;
    }
    .number-td01{
        width: 200px;
        height: 200px;
    }
    .number-td02{
        width: 250px;
        height: 250px;
        margin-left: 40px;
        p {
            font-size: 90px !important;
        }
    }
    .number-td03{
        right: 0;
        width: 160px;
        height: 160px;
        top: 60px;
    }
}
// Mobile
@media only screen and (max-width: 767px) {
    .gioithieu-tongquan3{
        
        h5{
            margin-bottom: 3px;
            text-align: center;
        }
        span {
            font-size: 20px;
            text-align: center;
            width: 100%;
            display: inline-block;
        }
        .mo-ta-con-so {
            text-align: center;
            font-size: 20px !important;
            line-height: 30px;        
            margin: 20px 0;
        }
        .number-td01 {
            width: 180px;
            height: 180px;
        }
        .item-box-h{
            margin-top: 30px;
            p{
                margin-bottom: 0;
            }
        }
    }

}

@media only screen and (max-width: 320px) {
    .number-td01, .number-td03 {
        width: 150px;
        height: 150px;
        top: 20px;
        
    }
    .number-td03{
        p {
            font-size: 35px !important;
        }
    }
    .number-td02{
        margin-left: 20px;
        p {
            font-size: 75px !important;
        }
    }
}
/* ========================  End Hompage - Giới thiệu tổng quan 3 ========================= */

/* ========================  Giới thiệu tổng quan 4 ========================= */
.h-gioithieu-tongquan4{
    .h-slider-items{
        // margin: 0 30px;
        .item{
            border: 1px solid #eee;
            margin: 20px 20px 0 20px;
            text-align: center;
            background: #FFFFFF;
            border-radius: 2px;
            padding: 30px 25px;
            span{
                display: inline-block;
                font-size: 16px;
                font-weight: 600;
                margin: 15px 0 30px 0;
                color: $brand;
            }
            h5{
                font-size: 24px;
                font-weight: 800;
                
                margin-bottom: 15px;
                a{
                    color: $brand;
                }
            }
            img{
                width: 36px;
               margin: 0 auto;
            }
            p{
                display: -webkit-box;
               min-height: 103px;
                -webkit-box-orient: vertical;
                overflow: hidden;
                -webkit-line-clamp: 4;
            }
        }
    }
}
// Ipad ngang
@media only screen and (max-width: 1201px) {
    .h-gioithieu-tongquan4{
        .owl-nav{
            display: none;
        }
        .owl-dots{
            display: block;
        }
    }
}
// Mobile
@media only screen and (max-width: 767px) {
    .h-gioithieu-tongquan4{
        .h-slider-items{
            margin: inherit;
        }
    }
}
/* ========================  END Giới thiệu tổng quan 4 ========================= */

/* ========================  Hompage - Giới thiệu tổng quan 5 ========================= */
.gioithieu-tongquan5{
        background: url(../images/h-bgtongquan5-section.png) no-repeat center  ;
        display: inline-block;
        background-size: contain;
        padding: 50px 0;
}
.h-gioithieu-tongquan5{
            img{
                width: 100%;
            }
        
    
    h6{
        
        margin: 20px 0 15px 0;
        font-size: 44px;
        
    }
    p{
        line-height: 28px;
    }
    span{
        font-size: 22px;
        font-weight: 800;
        color: $brand;
        
    }
}
// Mobile
@media only screen and (max-width: 767px) {
    .h-gioithieu-tongquan1{
        margin-top: 0;
        h6{
            font-size: 18px !important;
            line-height: 30px;
            margin: 15px 0;
        }
    }
}

/* ========================  End Hompage - Giới thiệu tổng quan 5 ========================= */

/* ========================  Hompage - Giới thiệu tổng quan 6 ========================= */

.gioithieu-tongquan6{
    position: relative;
    width: 100%;
    h6{
        
        margin: 20px 0 15px 0;
        font-size: 44px;
        text-transform: uppercase;
        color: white;
    }
    p{
        line-height: 28px;
        color: white;
        padding-right: 90px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    span{
        font-size: 22px;
        font-weight: 800;
        color: $brand-2;
        
    }
    .btn-common-fill{
        background: $brand-2;
    }
  
.bg-content-left-tongquan6{
    display: inline-block;
    background-color: $brand;
    width: 50%;
    padding: 50px 50px 50px 200px;
}
.content-right-tongquan6{
    display: inline-block;
    width: 600px;
    position: absolute;
    right: 150px;
    top: 80px;
    img{
        width: 100%;
    }
}
 
}
@media only screen and (max-width: 1201px) {
    .gioithieu-tongquan6{
        .bg-content-left-tongquan6 {
            padding: 50px 50px 50px 50px;
        }
        .content-right-tongquan6 {
            right: 45px;
        }
    }
}
@media only screen and (max-width: 1025px) {
    .gioithieu-tongquan6{
        .content-right-tongquan6 {
            width: 500px;
            top: 100px;
        }
    }
}
// Ipad doc
@media only screen and (max-width: 950px) {
    .gioithieu-tongquan6{
        display: initial;
        .bg-content-left-tongquan6{
            width: 100%;
            padding: 50px 20px;
        }
        .content-right-tongquan6{
            width: 100%;
            margin-left: 0;
            position: initial;
        }
        
    }
}
// Mobile
@media only screen and (max-width: 767px) {
   
    .gioithieu-tongquan6{
        p{
            -webkit-line-clamp: inherit;
            padding-right: 0;
        }
    }
}

/* ========================  END Hompage - Giới thiệu tổng quan 6 ========================= */

/* ========================  Hompage - Giới thiệu tổng quan 7 ========================= */
.h-gioithieu-tongquan7{
    .box-title-btn{
        display: flex;
        align-items: center;
        .btn-common-fill{
            margin-top: 0;
            margin-left: 30px;
        }
    }
    img{
        width: 100%;
    }
    h3{
        margin: 15px 0 15px 0;
    }
    p{
    line-height: 28px;
    }
    span{
        font-size: 20px;
        font-weight: 800;
        color: $brand-2;

    }
}

#faq .card {
	border: 0;
	margin-bottom: 20px;
  }
  
 #faq .card .card-header {
	
	padding: 0;
  }
  #faq .card .card-body {
	font-size: 15px;
	padding-left: 25px;
	padding-top: 25px;
	text-align: justify;
  }
  
  #faq .card .card-header .btn-header-link {
	color: $text;
	display: block;
	text-align: left;
	background: #e9a43f;
	padding: 20px 28px;
	border-radius: 0;
	font-weight: 500;
    color: white;
    font-weight: normal;
  }
  
#faq .card .card-header .btn-header-link:after {
	content: "\e64b";
	font-family: 'themify';
	font-weight: 700;
	position: absolute;
    right: 20px;
    top: 20px;

  }

#faq .card .card-header .btn-header-link.collapsed {
	color: $text;
    background: white;
    font-weight: normal;
  }

#faq .card .card-header .btn-header-link.collapsed:after {
	content: "\e648";
  }
  
#faq .card .collapsing {
	background: #fff;
	line-height: 30px;
  }
  
#faq .card .collapse {
	border: 0;
  }
  
#faq .card .collapse.show {
	background: #fff;
	line-height: 30px;
	color: $text;
  }
.videos{
    margin: 100px auto 0 auto;
    width: 500px;
    height: 300px;
    .video-cans {
        
        display: inline-block;
        width: 100%;
        position: relative;
        background-size: cover !important;
        height: 300px;
        cursor: pointer;
        z-index: 12;
        img {
          width: 100%;
        }
      }
    
    .close-bg-video {
        position: absolute;
        right: -50px;
        top: -10px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        text-align: center;
        font-weight: normal;
        border: 0;
        font-size: 20px;
        outline: none;
        z-index: 9999999;
        background-color: white;
      }
      .current_page_item {
        a {
          color: $brand;
        }
      }
      
      .overlay {
        width: 100%;
        margin: 0 auto;
        height: 300px;
        display: none;
        &._active {
          display: block;
          iframe {
            width: 100%;
            height: 300px;
          }
        }
      }
}
.list-video{
    position: relative;
    // overflow: hidden;
    width: 100%;
    display: inline-block;
}
.video-detail{
    position: absolute;
    width: 250px;
    top: 15px;
}
.video-detail2 {
    position: absolute;
    width: 140px;
    top: 0;
    right: 160px;
}
.video-detail3 {
    position: absolute;
    width: 140px;
    bottom: -100px;
    left: 15px;
}
.video-detail4 {
    position: absolute;
    width: 180px;
    bottom: -140px;
    right: 15px;
}

// Ipad doc
@media only screen and (max-width: 950px) {
    .gioithieu-tongquan7{
        overflow: inherit;
    }
 .h-gioithieu-tongquan7{
     .col-md-5, .col-md-7{
        flex: 0 0 100%;
        max-width: 100%;
     }
     .list-video{
         margin: 40px 0;
     }
 }
}
// Mobile
@media only screen and (max-width: 767px) {
    .gioithieu-tongquan7{
        margin-bottom: 30px;
        span{
            font-size: 14px;
        }
    }
  .videos{
      width: 100%;
  }
  .video-detail {
    width: 150px;
    top: 0;
  }
  .video-detail2{
    right: 0;
    width: 150px;
  }
  .video-detail3 {
    width: 150px;
    left: 0;
    
  }
  .video-detail4{
    width: 150px;
    right: 0;
    bottom: -175px;
  }
}

/* ========================  Hompage - Giới thiệu tổng quan 8 ========================= */
.h-gioithieu-tongquan8{
 
    .box-title-btn{
        display: flex;
        align-items: center;
        .btn-common-fill{
            margin-top: 0;
           
        }
    }
    img{
        width: 100%;
    }
    h3{
        margin: 15px 0 15px 0;
        // font-size: 44px;

    }
    p{
    line-height: 28px;
    }
    span{
    font-size: 22px;
    font-weight: 800;
    color: $brand-2;

    }
    .box-imgs{
        float: left;
        .img-right{
            margin-left: 20px;
        }
    }
    .box-number{
        margin-left: 20px;
        color: white;
        background: $text-erro;
        text-align: center;
        padding: 24px 5px;
        border-radius: 2px;
        p{
            font-size: 44px;
            font-weight: bold;
        }
        span{
            font-size: 16px;
            color: white;
            font-weight: normal;
        }
    }
}
.h-list-items{
    .box-items{
        padding: 30px;
        background: white;
        h4{
            color: $brand;
            margin-bottom: 15px;
        }
        p{
            color: $text-alpha;
        }
    }
}
// Ipad doc
@media only screen and (max-width: 950px) {
    .h-gioithieu-tongquan8{
        .img-right{
            margin-left: 0  !important;
            margin-top: 20px;
        }
        .col-md-5, .col-md-7{
            flex: 0 0 100%;
            max-width: 100%;
            
        }
        .box-title-btn{
            margin-bottom: 30px;
        }
        .box-imgs{
            float: inherit;
        }
        .box-number{
            margin-left: 0 !important;
        }
    }
}
// Mobile
@media only screen and (max-width: 767px) {
    .gioithieu-tongquan8{
        .h-gioithieu-tongquan8{
            .img-left{
                margin-top: 15px;
            }
            .img-right{
                margin-left: 0 !important;
                margin-top: 15px;
            }
            .box-number{
                margin-left: 0 !important;
                margin-top: 15px;
                p{
                    font-size: 28px  !important;
                }
            }
            .box-imgs{
                float: inherit;
            }
        }
        .box-items{
            margin-bottom: 15px;
        }
    }
    
}
/* ========================  Hompage - Giới thiệu tổng quan 9 ========================= */
.h-gioithieu-tongquan9{
 
    .box-title-btn{
        display: flex;
        align-items: center;
        .btn-common-fill{
            margin-top: 0;
           
        }
    }
    img{
        width: 100%;
    }
    h3{
        margin: 15px 0 15px 0;

    }
    p{
        line-height: 28px;
    }
    span{
        font-size: 20px;
        font-weight: 800;
        color: $brand-2;
    }
    .bg-yellow{
        background: #FFF1D8 !important;
    }
    .bg-pink{
        background: rgba(247, 23, 41, 0.1) !important;
    }
    .bg-green{
        background: #E9F6ED !important;
    }
    .box-imgs{
        float: left;
        .img-right{
            margin-left: 20px;
        }
    }
    .box-number{
        margin-left: 20px;
        color: $text;
        background: $text-erro;
        text-align: center;
        padding: 24px 5px;
        border-radius: 2px;
        p{
            text-transform: uppercase;
            font-size: 20px;
            font-weight: bold;
        }
        span{
            font-size: 16px;
            color: $text;
            font-weight: normal;
        }
        .numbers{
            font-size: 32px;
        }
    }
}

// Ipad doc
@media only screen and (max-width: 950px) {
    .h-gioithieu-tongquan9{
        .bg-green{
            margin-left: 0 !important;
        }
        .img-right{
            margin-left: 0 !important;
        }
        .col-md-5, .col-md-7{
            flex: 0 0 100%;
            max-width: 100%;
            
        }
        .box-title-btn{
            margin-bottom: 30px;
        }
       .box-imgs{
           float: inherit;
       }

    }
}
// Mobile
@media only screen and (max-width: 767px) {
    .gioithieu-tongquan9{
        .h-gioithieu-tongquan9{
            .img-left{
                margin-top: 15px;
            }
            .img-right{
                margin-left: 0 !important;
                margin-top: 15px;
            }
            .box-number{
                margin-left: 0 !important;
                margin-top: 15px;
                p{
                    font-size: 28px  !important;
                }
            }
            .box-imgs{
                float: inherit;
            }
        }
        .box-items{
            margin-bottom: 15px;
        }
    }
    
}
/* ========================  Thành tựu 1 ========================= */
.h-info-text-col{
    span{
        font-size: 20px;
    }
    h3{
        margin: 15px 0 15px 0;
    }
}
.thanh-tuu1 {
	background-color: white;
	color: $text;
	p {
		@include webkit-line-clamp();
		-webkit-line-clamp: 4;
	}
	.col-right-number {
		display: inline-block;
        width: 100%;
		h2 {
			font-size: 60px;
			display: flex;
			align-items: center;
			justify-content: center;

			span {
				font-size: 40px;
				margin-left: 10px;
                font-weight: normal;
			}
		}

		.list-number {
            
			height: 230px;
			width: 50%;
			float: left;
			border: 1px solid #D9D9D9;
			padding: 70px 38px 30px 38px;
			border-bottom: 0;
			text-align: center;

			&:nth-child(1),
            &:nth-child(2),
			&:nth-child(3),
            &:nth-child(4) {
				border-right: 0;
			}
            &:nth-child(1),
            &:nth-child(2){
                border-top: 0;
            }
			p {
				@include webkit-line-clamp();
				-webkit-line-clamp: 3;
                font-size: 20px;
			}

		}
	}
}
@media only screen and (max-width: 950px) {
    .thanh-tuu1{
        .col-right-number{
            h2{
                font-size: 40px !important;
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .thanh-tuu1{
        .col-right-number{
        
            padding-left: 0 !important;
            margin-top: 30px;
        }
            
            .thanh-tuu1{
                p{
                    -webkit-line-clamp: inherit;
                }
         
           }
           .h-info-text-col{
            span{
                font-size: 14px;
            }
        }
        .list-number{
            h2{
                span{
                    font-size: 28px !important;
                }
            }
        }
    }
}
/* ========================  Thành tựu 2 ========================= */
.h-info-text-col{
    span{
        font-size: 20px;
    }
    h3{
        margin: 15px 0 15px 0;
    }
}
.thanh-tuu2 {
	background-color: white;
	color: $text;
	p {
		@include webkit-line-clamp();
		-webkit-line-clamp: 4;
	}
	.col-right-number {
		display: inline-block;
        width: 100%;
		h2 {
			font-size: 60px;
			display: flex;
			align-items: center;
			justify-content: center;

			span {
				font-size: 40px;
				margin-left: 10px;
                font-weight: normal;
			}
		}

		.list-number {
            margin-bottom: 20px;
			height: 230px;
			width: 40%;
			float: left;
			border: 1px solid #D9D9D9;
			padding: 70px 20px 30px 20px;
			border-bottom: 0;
			text-align: center;

			&:nth-child(1),
            &:nth-child(2),
			&:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
				border-right: 0;
                border-top: 0;
			}
            &:nth-child(1),
            &:nth-child(3),
			&:nth-child(5){
                border-left: 0
            }
            &:nth-child(2),
            &:nth-child(4),
			&:nth-child(6){
                width: 60%;
            }
			p {
				@include webkit-line-clamp();
				-webkit-line-clamp: 3;
                font-size: 20px;

			}
            .text-normal{
                text-align: left;
                font-size: 16px;
                -webkit-line-clamp: 4;
            }
		}
	}
}
@media only screen and (max-width: 950px) {
   .thanh-tuu2{
    .col-right-number{
        h2{
            font-size: 40px !important;
        }
    }
   }
}
@media only screen and (max-width: 767px) {
    .thanh-tuu2{
        .col-right-number{
       
            padding-left: 0 !important;
            margin-top: 30px;
        }
            .thanh-tuu2{
                p{
                    -webkit-line-clamp: inherit;
                }
         
           }
           .h-info-text-col{
            span{
                font-size: 14px;
            }
        }
        .list-number{
            h2{
                span{
                    font-size: 28px !important;
                }
            }
        }
    }
}
/* ========================  Thành tựu 3 ========================= */
.h-info-text-col{
    span{
        font-size: 20px;
    }
    h3{
        margin: 15px 0 15px 0;
    }
}
.thanh-tuu3 {
    text-align: center;
	background-color: white;
	color: $text;
	
	.col-right-number {
		display: inline-block;
        width: 100%;
		h2 {
			font-size: 60px;
			display: flex;
			align-items: center;
			justify-content: center;
            span {
				font-size: 40px;
				margin-left: 10px;
                font-weight: normal;
			}
		}

		.list-number {
            margin-bottom: 20px;
			height: 230px;
			width: 50%;
			float: left;
			// border: 1px solid #D9D9D9;
			padding: 70px 20px 30px 20px;
			border-bottom: 0;
			text-align: center;

			p {
				@include webkit-line-clamp();
				-webkit-line-clamp: 3;
                font-size: 20px;

			}
            
		}
	}
    .logo-content{
        display: flex;
        width: 100%;
        justify-content: center;
        margin: auto;
        flex-wrap: wrap;
        img{
            height: 80px;
            margin: 10px 20px;
        }
    }
}
@media only screen and (max-width: 950px) {
   .thanh-tuu3{
    .col-right-number{
        h2{
            font-size: 40px !important;
        }
    }
   }
}
@media only screen and (max-width: 767px) {
    .thanh-tuu3{
        .logo-content{
            display: inherit;

        }
        .col-right-number{
       
            padding-left: 0 !important;
            margin-top: 0;
        }
            .thanh-tuu3{
                p{
                    -webkit-line-clamp: inherit !important;
                }
         
           }
           .h-info-text-col{
            span{
                font-size: 14px;
            }
        }
        .list-number{
            width: 100% !important;
            height: 100% !important;
            margin-bottom: 0 !important;
            padding: 20px !important;
            h2{
                span{
                    font-size: 28px !important;
                }
            }
        }
    }
}

/* ========================  Thành tựu 4 ========================= */
.h-info-text-col{
    span{
        font-size: 20px;
    }
    h3{
        margin: 15px 0 15px 0;
    }
}
.thanh-tuu4 {
	color: $text;
	background-size: cover !important;
	.col-right-number {
		display: inline-block;
        width: 100%;
        margin-top: 30px;
		h2 {
			// font-size: 44px;
			display: flex;
			align-items: center;
			justify-content: center;
            margin-top: 10px;
            span {
				font-size: 24px;
				margin-left: 8px;
                font-weight: normal;
			}
		}

		.list-number {
            margin-right: 20px;
            margin-bottom: 20px;
			height: 230px;
			width: 45%;
			float: left;
			// border: 1px solid #D9D9D9;
			padding: 30px 20px 30px 20px;
			border-bottom: 0;
			text-align: center;

			p {
				@include webkit-line-clamp();
				-webkit-line-clamp: 2;
                font-size: 20px;

			}
            img{
                height: 50px;
                margin: 0 auto;
            }
            &:hover{
                .h-icon{
                    display: none !important;
                }
                .h-icon-hover{
                    display: block !important;
                }
                background: $brand;
                color: white;
                transition: all .3s ease-in-out;
            }
		}
	}
   
}
@media only screen and (max-width: 950px) {
    .thanh-tuu4{
        .col-md-6{
            flex: 0 0 100%;
            max-width: 100%;
        }
        .list-number{
            width: 48% !important;
            &:nth-child(2),
            &:nth-child(4){
                margin-right: 0;
            }
        }
        .col-right-number{
            h2{
                font-size: 40px !important;
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .thanh-tuu4{
       
        .col-right-number{
       
            padding-left: 0 !important;
            margin-top: 0;
        }
            .thanh-tuu3{
                p{
                    -webkit-line-clamp: inherit !important;
                }
         
           }
           .h-info-text-col{
            span{
                font-size: 14px;
            }
        }
        .list-number{
            width: 100% !important;
            height: 100% !important;
            margin-bottom: 20px !important;
            padding: 20px !important;
            h2{
                span{
                    font-size: 28px !important;
                }
            }
            p{
                -webkit-line-clamp: inherit !important;
                
            }
        }
    }
}

/* ========================  Thành tựu 5 ========================= */
.h-info-text-col{
    span{
        font-size: 20px;
    }
    h3{
        margin: 15px 0 15px 0;
    }
}
.thanh-tuu5 {
    text-align: center;
	background-size: cover !important;
	.col-right-number {
		display: inline-block;
        width: 100%;
		h2 {
			// font-size: 60px;
			display: flex;
			align-items: center;
			justify-content: center;
            color: $text-erro;
            span {
				font-size: 40px;
				margin-left: 10px;
                font-weight: normal;
			}
		}

		.list-number {
            
            margin-bottom: 20px;
			height: 230px;
			width: 33%;
			float: left;
			// border: 1px solid #D9D9D9;
			padding: 30px 20px 30px 20px;
			border-bottom: 0;
			text-align: center;

			p {
                color: $text-erro;
				@include webkit-line-clamp();
				-webkit-line-clamp: 3;
                font-size: 20px;

			}
            
		}
	}
 .tittle-thanhtuu5{
     margin-bottom: 20px;
     p{
         font-size: 16px !important;
         color: $text !important;
         
     }
     h4{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 1;
     }
 }
}
@media only screen and (max-width: 950px) {
   .thanh-tuu5{
    .col-right-number{
        h2{
            font-size: 40px !important;
        }
    }
   }
}
@media only screen and (max-width: 767px) {
    .thanh-tuu5{
       
        .col-right-number{
       
            padding-left: 0 !important;
            margin-top: 0;
            h2{
                font-size: 40px !important;
            }
        }
            .thanh-tuu5{
                p{
                    -webkit-line-clamp: inherit !important;
                }
         
           }
           .h-info-text-col{
            span{
                font-size: 14px;
            }
        }
        .list-number{
            width: 100% !important;
            height: 100% !important;
            margin-bottom: 0 !important;
            padding: 20px !important;
            h2{
                span{
                    font-size: 28px !important;
                }
            }
            p{
                margin-bottom: 0 !important;
            }
        }
    }
}
/* ========================  Thành tựu 6 ========================= */
.h-info-text-col{
    span{
        font-size: 20px;
    }
    h3{
        margin: 15px 0 15px 0;
    }
}
.thanh-tuu6 {
    text-align: center;
	background: white;
	.col-right-number {
		display: inline-block;
        width: 100%;
		

		.list-number {
            position: relative;
            margin-bottom: 20px;
			height: 230px;
			width: 25%;
			float: left;
			// border: 1px solid #D9D9D9;
			padding: 30px 20px 30px 20px;
			border-bottom: 0;
			text-align: left;
            h2 {
                // font-size: 60px;
                position: absolute;
                left: 96px;
                top: 56px;
                display: flex;
                align-items: center;
                // justify-content: center;
                color: $text;
                span {
                    font-size: 40px;
                    margin-left: 10px;
                    font-weight: normal;
                }
            }
            
			p {
                margin-top: 30px;
                color: $text;
				@include webkit-line-clamp();
				-webkit-line-clamp: 3;
                font-size: 16px;

			}
            
		}
	}
 
}
@media only screen and (max-width: 950px) {
   .thanh-tuu6{
    .col-right-number{
        h2{
            font-size: 40px !important;
        }
    }
   }
}
@media only screen and (max-width: 767px) {
    .thanh-tuu6{
       
        .col-right-number{
       
            padding-left: 0 !important;
            margin-top: 0;
            h2{
                
                right: -40px;
                left: 130px !important;
                top: 18px !important;
                font-size: 24px !important;
            }
        }
            .thanh-tuu6{
                p{
                    -webkit-line-clamp: inherit !important;
                }
           }
           .h-info-text-col{
            span{
                font-size: 14px;
            }
        }
        .list-number{
            width: 100% !important;
            height: 100% !important;
            margin-bottom: 0 !important;
            padding: 20px !important;
            display: flex;
            text-align: left !important;
            h2{
                span{
                    font-size: 28px !important;
                }
            }
            p{
                margin-bottom: 0 !important;
                margin-left: 10px;
            }
        }
    }
}

/* ========================  Thành tựu 7 ========================= */
.thanh-tuu7{

	// padding-bottom: 50px;
	h3{
		// padding: 0 80px;
		text-align: center;
		color: $text;
		font-weight: 700;
		
		span{
			margin: 0 10px;
			font-weight: 700;
			font-size: 50px;
			line-height: 63px;
			color: $brand;
		}
	}
    .box-circle{
		&:last-child{
			.item-circle{
				&::before{
					background: none;
				}
			
			}
		}
	}
    .box-circle{
        // width: 15%;
        display: inline-block;
        width: 100%;
        img{
            width: 100%;
        }
    }
	.list-circle{
		
		display: inline-block;
		width: 100%;
		position: relative;
		background-size: contain !important;
		height: 407px;
		z-index: 9;
		.item-circle{
			position: relative;
			width: 230px;
			height: 230px;
			// padding: 30px;
			color: white;
			border-radius: 50%;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			.content-item{
				padding: 0 20px;
				h2{
					font-weight: 700;
					font-size: 50px;
					// line-height: 24px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 15px;
				}
				p{
					font-weight: 400;
					font-size: 16px;
					line-height: 24px;
					// max-width: 70%;
                    // margin: 0 auto;
					text-align: center;
					
				}
                span{
                    font-size: 30px;
                    color: white !important;
                }
			}
		
		}
		.circle01{
			background: $brand;
			position: absolute;
    		top: 130px;
			&::before{
				width: 200px;
				height: 117px;
				background-size: contain !important;
				background: url(../images/h-line1.svg) no-repeat center top;
				content: '';
				display: inline-block;				
				left: 90px;
				top: 240px;
				position: absolute;
				z-index: -9;
			}
		}
		.circle02{
			background: $brand-2;
			position: absolute;
			top: 170px;
			&::before{
				width: 200px;
				height: 117px;
				background-size: contain !important;
				background: url(../images/h-line2.svg) no-repeat center top;
				content: '';
				display: inline-block;				
				left: 90px;
    			bottom: 220px;
				position: absolute;
				z-index: -9;
				
			}
			
		}
	}
	.notes{
		font-weight: 600;
		font-size: 20px;
		line-height: 30px;
		text-align: center;
		color: $brand;
		margin-top: 70px;
	}
    .box-list-circle{
        display: flex;
        justify-content: space-between;
    }
}
@media only screen and (max-width: 950px){
    .thanh-tuu7{
	.box-list-circle{
        display: inherit;
    }
        .item-circle{
            top: 0 !important;
            position: relative !important;
            margin: auto !important;
            margin-bottom: 20px !important;
            width: 300px !important;
            height: 300px !important;
            &::before{
                display: none !important;
            }
            h2{
                margin-bottom: 25px;
            }
            
        }
        .list-circle{
            height: initial !important;
        }
        .notes {
            margin-top: 30px;
            margin-bottom: 50px;
        }
        .box-circle{
            display: inline-block;
            width: 50% !important;
            float: left;
            padding: 0 15px;
        }
        .box-plane{
            width: 100% !important;
            text-align: center !important;
            img{
                width: 250px !important;
            }
        }
	}
}
@media only screen and (max-width: 950px){
    .thanh-tuu7{
        h3{
            span{
                font-size: 30px;
            }
        }
       .box-circle{
           width: 100% !important;
       }
       .item-circle{
           width: 230px !important;
           height: 230px  !important;
       }
       .box-plane{
        width: 100%;
        text-align: center;
        img{
            width: 180px !important;
        }
    }
    }
}
@media only screen and (max-width: 767px){
    .content-item{
        h2{
            font-size: 44px !important;
        }
    }
}
/* ========================  END Thành tựu 7 ========================= */
/* ========================  giaithuong-1 ========================= */
.giaithuong-1{
    .h-info-text-col {
        text-align: center;
        margin-bottom: 30px;
    }
    .logo-content{
        display: flex;
        width: 100%;
        justify-content: center;
        margin: auto;
        flex-wrap: wrap;
        img{
            height: 85px;
            margin: 10px 20px;
        }
        .logo-giaithuong{
            position: relative;
            padding-right: 217px;
            margin: 0 15px 30px 0;
        }
        .item-logo{
           
            .text-content{
                left: 120px;
                position: absolute;
                top: 10px;
                p{
                    margin-bottom: 0;
                    color:$text-alpha;
                }
            }
        }
    }
}
@media only screen and (max-width: 767px){
    .giaithuong-1{
        .logo-giaithuong{
            text-align: center;
            position: inherit !important;
            margin: 0 0 15px 0 !important;
            padding-right: inherit !important;
            width: 40%;
            float: left;
            margin: 0 15px !important;
        }
        .logo-content{
            // display: inline-block;
            // width: 100%;
            img{
                height: 50px;
                margin: 10px 0;
            }
            .text-content{
                position: inherit !important;
            }
        }
    }
}
/* ========================  END giaithuong-1 ========================= */

/* ========================  giaithuong-2 ========================= */
.giaithuong-2{
    text-align: center;
    .h-info-text-col {
        text-align: center;
        // margin-bottom: 30px;
    }
    .logo-giaithuong{
        width: 33.3%;
    }
    .logo-content{
        margin-top: 30px !important;
        display: flex;
        width: 100%;
        justify-content: center;
        margin: auto;
        flex-wrap: wrap;
        img{
            height: 170px;
            // margin: 10px 20px;
        }
        
        .item-logo{
           text-align: center;
            .text-content{
               
                h4{
                   padding: 0 20px;
                   margin: 10px 0;
                }
            }
        }
    }
}
@media only screen and (max-width: 950px){
    .giaithuong-2{
       
        .logo-content{
          
            .text-content{
                h4{
                    padding: 0 !important;
                }
            }
        }
    }
}
@media only screen and (max-width: 767px){
    .giaithuong-2{
        .logo-giaithuong{
            width: 50% !important;
        }
        .logo-content{
            img{
                height: 130px  !important;
            }
        }
    }

}
/* ========================  END giaithuong-2 ========================= */

/* ========================  giaithuong-3 ========================= */
.giaithuong-3{
    text-align: center;
    .h-info-text-col {
        text-align: center;
        // margin-bottom: 30px;
    }
    .logo-giaithuong{
        // width: 20%;
        &:hover{
            transform: scale(1.2);
            transition: all 0.4s ease;
        }
    }
    .logo-content{
        display: flex;
        width: 100%;
        justify-content: center;
        margin: auto;
        flex-wrap: wrap;
        img{
            height: 170px;
            margin: 10px 20px;
        }
        
        .item-logo{
           text-align: center;
           
        }
    }
    p{
        color: $text-alpha;
    }
}

@media only screen and (max-width: 767px){
    .giaithuong-3{
        
        .logo-content{
            img{
                height: 95px  !important;
            }
        }
    }

}
/* ========================  END giaithuong-3 ========================= */
/* ========================  giaithuong-4 ========================= */
.giaithuong-4{
    text-align: center;
    .h-info-text-col {
        text-align: center;
       
    }
    .logo-giaithuong{
        
        &:hover{
            transform: scale(1.2);
            transition: all 0.4s ease;
        }
    }
    .logo-content{
        
        display: inline-block;
        width: 100%;
        margin: auto;
        img{
            height: 170px;
            margin: 10px 20px;
        }
        
        .item-logo{
           text-align: center;
           
        }
        .logo-xsmall{
            img{
                height: 100px;
            }
        }
        .logo-big{
            img{
                height: 230px;
            }
        }

    }
    p{
        color: $text-alpha;
    }
    .box-logo-giaithuong4{
        display: flex;
        width: 100%;
        justify-content: center;
        margin: auto;
    }
    .box-logo-ipad{
        display: none;
    }
}
@media only screen and (max-width: 950px){
    .giaithuong-4{
        .box-logo-giaithuong4{
            display: none;
        }
        .box-logo-ipad{
            display: block;
            .logo-content{
                display: flex;
                width: 100%;
                justify-content: center;
                margin: auto;
                flex-wrap: wrap;
            }
        }
    }
}
@media only screen and (max-width: 767px){
    .giaithuong-4{
        
        .logo-content{
            img{
                height: 95px  !important;
            }
        }
    }

}
/* ========================  END giaithuong-4 ========================= */
/* ========================  giaithuong-5 ========================= */
.giaithuong-5{
    text-align: center;
    .h-info-text-col {
        text-align: left;
        // margin-bottom: 30px;
    }
    p{
        text-align: left;
    }
    .logo-giaithuong{
        // width: 20%;
        &:hover{
            transform: scale(1.2);
            transition: all 0.4s ease;
        }
    }
    .logo-content{
        display: flex;
        width: 100%;
        justify-content: center;
        margin: auto;
        flex-wrap: wrap;
        img{
            height: 90px;
            margin: 10px 20px;
        }
        
        .item-logo{
           text-align: center;
           
        }
    }
   
}
@media only screen and (max-width: 950px){
    
}
@media only screen and (max-width: 767px){
    .giaithuong-5{
        
        .logo-content{
            img{
                height: 95px  !important;
            }
        }
    }
}
/* ========================  END giaithuong-5 ========================= */
/* ========================   duan-thuchien-1 ========================= */
    .duan-thuchien-1{
        background: #F6DFE1;
       
      .title-item{
        text-align: center;
       a{
        color: $text;
       }
        span{
           
            font-size: 14px;
        }
        h4{
            margin-top: 15px;
        }
      }
        .slider-csvc-about{
            position: relative;
            .item__third{
                padding: 0 20px;
            }
            .carousel-indicators{
                display: none;
            }
            .carousel-control-prev {
                left: 300px;
                background: transparent;
            }
            .carousel-control-prev-icon {
                background-image: url(../images/arrow-left-pro.svg);
                width: 50px;
                height: 50px;
            }
            .carousel-control-next {
                right: 300px;
                background: transparent;
            }
            .carousel-control-next-icon {
                background-image: url(../images/arrow-right-pro.svg);
                width: 50px;
                height: 50px;
            }
            
        }
        $fragment_width: 25%;
        
        .show-neighbors {
          overflow: hidden;
        
          .item__third:first-child, 
          .item__third:last-child {
            display: none;
          }
        
          @media (min-width: 500px) {
            .carousel-indicators {
              margin-right: $fragment_width;
              margin-left: $fragment_width;
            }
        
            .carousel-control-prev, 
            .carousel-control-next {
             // background: rgba(255, 255, 255, 0.3);
              width: $fragment_width;
              z-index: 11;  /* .carousel-caption has z-index 10 */
            }
        
            .carousel-inner {
              width: (100% - 2 * $fragment_width) * 3;
              left: 3 * $fragment_width - 100%;
            }
        
            .carousel-item-next:not(.carousel-item-left),
            .carousel-item-right.active {
              -webkit-transform: translate3d(33%, 0, 0);
              transform: translate3d(33%, 0, 0);
            }
        
            .carousel-item-prev:not(.carousel-item-right),
            .carousel-item-left.active {
              -webkit-transform: translate3d(-33%, 0, 0);
              transform: translate3d(-33%, 0, 0);
            }
        
            .item__third {
              display: block !important;
              float: left;
              position: relative;  /* captions can now be added */
              width: 33.33333333%;
            }
          }
        }
    }

/* ========================   END duan-thuchien-1 ========================= */
/* ========================   duan-thuchien-2 ========================= */
.duan-thuchien-2{
    .h-info-text-col {
        padding: 0 15px ;
    }
    .no-sacle-avatar{
        .avatar-thumb{
            a{
                padding-top: 56% !important;
            }
        }
    }
    .items{
        position: relative;
        margin-bottom: 25px;
        .avatar-thumb{
            a{
                padding-top: 119%;
            }
        }
        .info{
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 0;
            color: white;
            padding: 20px;
            h4{
                
                a{
                    color: white;
                }
            }
            p{
                display: none;
            }
            .icon-redmore{
                display: none;
                margin: 0 auto;
                width: 50px;
                height: 50px;
                background: #e9a43f;
                color: white;
                border-radius: 50px;
                padding: 15px;
                text-align: center;
                i{
                    color: white;
                }
            }
        }
        &:hover .info{
            p, .icon-redmore{
                display: block;
            }
            
            height: 100%;
            transition: all .3s ease-in-out;
        }
        .linear-bg{
            background: #0000003d;
        
        }
    }
}
/* ========================   END duan-thuchien-2 ========================= */

/* ========================   END duan-thuchien-3 ========================= */
.duan-thuchien-3{
    .owl-carousel .item {
        padding: 0;
    }
    .tab-system .nav-tabs .nav-item{
        font-weight: 600;
    }
    .slider-du-an {
        position: relative;
    
        .avatar-thumb a {
            padding-top: 80%;
    
        }
    
        .title-du-an {
            color: white;
            font-size: 16px;
            font-weight: 600;
            position: absolute;
            z-index: 2;
            padding: 15px;
            height: 100%;
            width: 100%;
        }
    
        .box-linear {
            background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
            opacity: 0.5;
            border-radius: 4px;
            position: absolute;
            z-index: 1;
            height: 100%;
            display: inline-block;
            width: 100%;
        }
    
        .du-an {
            position: relative;
            display: inline-block;
            width: 100%;
        }
    
        .col-right-du-an {
            display: inline-block;
            width: 100%;
    
            .du-an {
                width: 47%;
                float: left;
                margin: 0 15px 10px 0;
    
                &:nth-child(3),
                &:nth-child(4) {
                    margin-bottom: 0;
                }
    
                .avatar-thumb a {
                    padding-top: 84%;
                }
            }
        }
    
        .owl-dots {
            display: none;
        }
    }
    .tab-system{
        overflow: hidden;
        .nav-tabs{
            margin-left: -10px;
            border-bottom: none;
            justify-content: left;
        }
        .nav-tabs{
            .active{
                // border-bottom: none;
            }
        }
        .content-page-list .nav-tabs{
            margin-left: 0;
        }
        .tab-content {
            margin: 20px 0;
        }
        .nav-link{
            // text-align: left;
            width: 10%;
        }
        .nav-item{
            color: $text-alpha;
        }
    } 
}


@media only screen and (max-width: 1280px){
   .duan-thuchien-3{
    .slider-du-an .col-right-du-an .du-an {
        margin: 0 10px 10px 0;
    }
    .tab-system{
        .nav-tabs{
            margin-left: -10px;
        }
        .content-page-list .nav-tabs{
            margin-left: 0;
        }
        .tab-content {
            margin: 20px 10px;
        }
    } 
   }
}
@media only screen and (max-width: 767px){
 .duan-thuchien-3{
    .slider-du-an {
        .row .col-md-6:last-child{
            padding-right: 0;
        }
        .col-right-du-an .du-an {
            width: 47%;
        }
    }
    .tab-system .tab-content {
        margin: 10px;
    }
 }
}

/* ========================   END duan-thuchien-3 ========================= */

/* ========================    duan-thuchien-4 ========================= */
.duan-thuchien-4{
    .item{
        .tittlle-item{
            a{
                font-size: 24px;
            }
        }
    }
   
    .owl-carousel .item {
        padding: 0 20px;
    }
    .title-du-an {
        color: white;
        font-size: 16px;
        font-weight: 600;
        // position: absolute;
        z-index: 2;
        // padding: 15px;
        // height: 100%;
        width: 100%;
    }

    .box-linear {
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        opacity: 0.5;
        border-radius: 4px;
        position: absolute;
        z-index: 1;
        height: 100%;
        display: inline-block;
        width: 100%;
    }

    .du-an {
        position: relative;
        display: inline-block;
        width: 100%;
    }
    .slider-du-an {
      
        position: relative;
    
        .avatar-thumb a {
            padding-top: 38%;
    
        }
    
        .owl-dots {
            display: none;
        }
    }
    .thumb-small{
        a{
            padding-top: 42% !important;
        }
    }
    .col-right-du-an{
       
       
        .avatar-thumb{
            a{
                padding-top: 70% ;
            }
        }
    }
    .iconplay-duan4{
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 35%;
        img{
            width: 48px;
        }
    }
    .btn-common-line{
        border: 1px solid #ffffff !important;
        color: white !important;
        background-color: transparent !important;
        font-size: inherit !important;
    }
    .tittlle-item{
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 15px 15px 49px 15px;
        background: #00000052;
        position: absolute;
        z-index: 12;
    }
    .title-du-an{
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        // position: inherit ;
    }
    p{
        opacity: 0.8;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: white;
    }
}
/* ========================   END duan-thuchien-4 ========================= */
